[2017-10-22 23:40] SonarBeserk opened #2 "Terminal text gets garbled on Windows"
Whenever running air on windows the text has issues printing.

[code]
I get this issue running in git bash as well as cmd.

[2017-10-23 01:28] cosmtrek commented on #2
Thanks for your report. I'll take time to figure it out. Could you tell me what's your project structure and your Windows version?

[2017-10-23 01:39] SonarBeserk commented on #2
I have a single main.go file in the directory that runs an http server. I am running Windows 10 Pro Build 14393

[2017-10-23 02:20] cosmtrek commented on #2
@mattn Could you help me look at this issue when you have free time? Actually I have no idea how to solve it because I'm not familiar with Windows terminal, thanks a lot!

@SonarBeserk I'm very sorry for this, it may take long time to fix it. Could you try to fix it if you are able to?

[2017-10-23 03:16] mattn commented on #2
Hi, I'll look into it in later.

[2017-10-23 04:02] mattn commented on #2
garbage is mixed log-output.

[code]
You must use sync.Mutex to avoid mixed output.

[2017-10-23 05:22] cosmtrek commented on #2
@mattn Did you mean this? https://github.com/cosmtrek/air/commit/bf222c248af315e46ab8eba7cab6e66546d6d06f

[2017-10-23 05:43] mattn commented on #2
Yes, it fixed this issue on my environment.

[2017-10-23 05:46] mattn commented on #2
I found another issue.

![61c9bcb31506e7e3](https://user-images.githubusercontent.com/10111/31873859-e4d329b8-b800-11e7-936d-df451c2db012.png)

I think os.Remove should be called before `go build`.

[2017-10-23 06:19] cosmtrek commented on #2
@mattn `os.Remove` just delete the old binary file, actually it's OK to remain this file because the new binary file will overwrite this old one. Could you provide the error?

[2017-10-23 06:24] mattn commented on #2
Yes, sequence should be

remove tmp/main.exe
go build (generate tmp/main.exe)

 but as far as I see the output, seems to be:

go build (generate tmp/main.exe)
remove tmp/main.exe

[2017-10-23 06:25] mattn commented on #2
Windows can't overwrite file while another process(or it-self) open the file.

[2017-10-23 06:36] cosmtrek commented on #2
@mattn Got it, I'll fix this.

[2017-10-23 08:29] igordonxiao opened #3 "How about adding "app.go" as the default conf, just like "main.go""
As the title, thanks!

[2017-10-23 09:35] cosmtrek commented on #3
In Go world, `main.go` is the default executable file name.

I think you can copy a `air.conf.example` to your project working directory, and modify build params like

[code]

Could you explain why you ask for this change?

[2017-10-24 01:00] igordonxiao commented on #3
@cosmtrek thank you so much. I am from JS world, most entrance of programs we named it as `app.js`.

[2017-10-24 01:00] #3 closed

[2017-10-24 05:51] cosmtrek commented on #2
@mattn I've fixed it, and found another interesting issue about the colorful output.

See the picture follows:
<img width="1054" alt="screen shot 2017-10-24 at 13 42 30" src="https://user-images.githubusercontent.com/8832222/31926544-ac1eb2ce-b8c1-11e7-9f4f-de465cc2a070.png">

Text in magenta color is invisible in Powershell...

[2017-10-24 05:57] cosmtrek commented on #2
@SonarBeserk I've fixed some problems on Windows, could you try a new binary?

[code]

[2017-10-24 06:00] cosmtrek commented on #2
Oops, this issue is closed automatically since current branch `fix-2` was merged by master...

[2017-10-24 19:32] SonarBeserk commented on #2
Looks fine, I don't use powershell for go development so that's not something of personal concern. It might be better to open a separate ticket to fix that issue.

[2017-10-24 19:33] #2 closed

[2018-02-06 21:38] nihiluis opened #5 "sigsegv when using conf"
starting with `~/.air` on arch linux. go 1.9.2

[code]

using this .air.conf

[code]

or this
[code]

[2018-02-26 13:46] leeyongda commented on #5
@nihiluis
## .ari.conf (custome conf)

## .air.conf (Example):
![qq20180226-213548](https://user-images.githubusercontent.com/11832476/36673241-1a1fa480-1b3d-11e8-808c-46afab52a0ef.png)
## air in your project root directory:
![qq20180226-214340](https://user-images.githubusercontent.com/11832476/36673585-2d3186dc-1b3e-11e8-9b5c-7c40c794c3a7.png)

## Then Run is Ok:
![qq20180226-214233](https://use

[2018-02-27 10:11] cosmtrek commented on #5
@leeyongda Big thanks!

[2018-02-27 18:57] lnlwd opened #6 "Address already in use with docker-compose"
Hey, I'm trying to use air within a docker-compose project. The project uses gin as the web server.

Here's my terminal output:
[code]

[2018-02-27 19:18] lnlwd commented on #6
Looks like fresh kills the process before starting a new one. With fresh it works.

[code]

[2018-03-01 03:12] cosmtrek commented on #6
Could you give me more info to reproduce it? Thanks!

[2018-03-01 03:13] #5 closed

[2018-03-01 18:26] lnlwd commented on #6
This is my `Dockerfile`:
[code]

And that's my `docker-compose.yml`:
[code]

With fresh i got it working with almost the same `Dockerfile`:
[code]

[2018-03-05 06:47] cosmtrek commented on #6
@lnlwd Thanks, I'll take time to look at it :)

[2018-03-08 05:11] #6 closed

[2018-03-08 05:11] cosmtrek commented on #6
@lnlwd I've fixed it, could you try it? Thanks.

[2018-03-12 15:40] lnlwd commented on #6
It works, thanks!!

[2018-03-14 17:07] nihiluis commented on #5
app should not sigsegv but display an error.

[2018-03-16 10:58] cosmtrek commented on #5
@nihiluis  I'll fix this, thanks~

[2018-03-18 00:49] lokhman opened #7 "Runtime error: invalid memory address or nil pointer dereference"
Constantly getting the following error after any file amend:
[code]
**OS:** Windows x64 and Ubuntu 16.04 LTS (Windows subsystem)

[2018-03-20 04:04] cosmtrek commented on #7
Could you provide me more info to reproduce it?

[2018-03-28 03:11] vferdiansyah commented on #7
I have similar issue here. Happens after a fresh install by following the installation guide on MacOS.
[code]

[2018-03-28 03:24] cosmtrek commented on #7
@vferdiansyah What's your `air.conf`?

[2018-03-28 03:26] vferdiansyah commented on #7
@cosmtrek exactly the same as the sample that you provided on readme.

[2018-03-28 05:41] cosmtrek commented on #7
@vferdiansyah  Oops, you need to comment out the `watch_dir` option.

[code]

[2018-03-28 08:02] lokhman commented on #7
Oh, sorry for late reply. I don’t have any special configuration here: error both in your build and in own build of last version, simple folder with `main` and **no** `app.conf`.

[2018-03-28 08:04] vferdiansyah commented on #7
@cosmtrek thanks it works now!

[2018-03-29 02:17] cosmtrek commented on #7
@lokhman It needs `air.conf` to works...

[2018-04-02 19:33] goenning commented on #6
@cosmtrek hey, any reason to check for GOOS=linux only?

I believe I have the same issue reported here as my my app is not being killed on each rebuild. The StackOverflow answer mention that this works on macOS as well, which is my OS.  I can open a new Issue if you prefer.

[2018-04-07 10:15] owais opened #8 "Overrides the text color that server might want to render"
A basic hello world example of Gin with and without air

With air:

![image](https://user-images.githubusercontent.com/46186/38453880-9e3be72c-3a7a-11e8-9077-bcd9636da736.png)

Without air

![image](https://user-images.githubusercontent.com/46186/38453891-beb04f98-3a7a-11e8-8fe8-5f1bda1daeda.png)

[2018-08-07 14:16] Ilyes512 opened #11 "Remove Ascii art"
Is it really required to output this ascii? I would like to see this removed as this just bloats my cli:

[code]

If you agree I can make a MR. 😁

[2018-08-08 06:41] cosmtrek commented on #11
Sorry, I think this ascii text is so cute that no need to remove it :)

[2018-08-08 13:28] Ilyes512 commented on #11
It should not be "cute" it should be productive...

I will just fork and make the changes my self.

[2018-08-08 13:28] #11 closed

[2018-10-23 23:15] frederikhors commented on #8
Same story here, any news?

[2018-11-06 16:37] zekker6 commented on #7
Using Windows 10 with WSL and ubuntu 16.04 in it also causes same error
.air.conf

[code]
Current dir: `$ ls -la`
[code]

Any ideas?

[2018-12-26 13:34] #7 closed

[2018-12-28 23:01] frederikhors opened #14 "execute custom commands before and after a file changes or globally"
Is there a way to execute custom commands before and after a file changes or globally?

For example: `yarn build` if `assets` folder content changes?

[2018-12-29 19:45] frederikhors opened #15 "Use default config if not in .air.conf file."
Can we use default config if not specified in .air.conf file?

Example:

air works great without config file, just use air in my cmd and everything works.
But I need to disable time so I create a new file `.air.conf` with just:

[code]

in it. Now calling again air doesn't work. It gives an error:

`PANIC: runtime error: invalid memory address or nil pointer dereference`

I'm on Windows, air insta

[2018-12-30 03:11] cosmtrek commented on #14
I think you could use Makefile to finish this, just `make build` in `cmd`.

[code]

But now it does not support hooks around build or executing commands. Maybe it'll be implemented in the future.

[2018-12-30 03:16] cosmtrek commented on #15
Thanks for your advice. First, I need to fix panic if conf file is invalid. Then I will consider it.

[2018-12-30 03:20] cosmtrek commented on #8
I'm working on it. But it'll only work on Linux or macOS, Windows is not supported.

[2018-12-30 10:46] cosmtrek commented on #8
@owais @frederikhors Hi, I've finished it and released a new version 1.10. Could you try this?

[2018-12-30 10:47] cosmtrek commented on #15
@frederikhors I've addressed this problem in the newly released version just now. Could you have a try?

[2018-12-30 11:22] cosmtrek opened #16 "support filtering log by regex"
Sometimes there are verbose server logs nothings with my code often upset me. These logs can be filtered by regex.

[2018-12-30 19:07] frederikhors commented on #15
Yes it works now. No more panic error.

[2018-12-30 19:07] #15 closed

[2018-12-30 19:08] frederikhors commented on #8
On Windows same problem also with v1.10.

[2018-12-31 03:09] cosmtrek commented on #8
@frederikhors Yes, Windows is not supported now. The point is [pty](https://github.com/kr/pty) does not support Windows.

[2019-01-21 09:42] cyhhao opened #17 "Can not print console log properly"
System : MacOS 10.14.2
Air version: v1.10

-----------
I try to print in many ways, like this:
![image](https://user-images.githubusercontent.com/5381613/51465520-060e8380-1da3-11e9-8acd-b551ffe950a3.png)

Start in normal:
![image](https://user-images.githubusercontent.com/5381613/51465846-b8464b00-1da3-11e9-941b-479668d26903.png)
It can print all of log.

Use air to start:
![image](https://user-i

[2019-01-23 03:14] cosmtrek commented on #17
It seems wired. I'll take time to look into it.

[2019-01-28 03:40] thenomemac commented on #17
I'm also seeing out of order and dropped logging on Arch linux.

[2019-01-28 14:45] cosmtrek commented on #17
@thenomemac Thanks, it may be related with pty. Currently, I'm busy working and have no time to fix it. Sorry for this bug.

[2019-01-28 23:41] thenomemac commented on #17
NP totally get the business. Great project. Keep up the good work when you
get to it. Or I may get to it sometime. But.. Ya work too.

On Mon, Jan 28, 2019, 9:45 AM Rick Yu <notifications@github.com wrote:

[2019-02-12 23:31] jac1013 opened #18 "When trying to install in a go module, version 1.10 is not recognized."
When running
[code]
It installs air successfully.

When running
[code]

I get `go get github.com/cosmtrek/air@v1.10: no matching versions for query "v1.10"
`

Am I doing something wrong here? Thanks in advance!

[2019-02-13 14:57] cosmtrek commented on #18
This project is used as a binary command, not the third library. So you could download the binary file.

[2019-02-13 15:07] jac1013 commented on #18
Hey @cosmtrek, first of all thanks for the library, I really appreciate your work.

Now, yes, I understand that the project is used as a binary command but we still can do a `go get github.com/cosmtrek/air@v1.0.2` so go modules know that it needs to be "installed" as a dependency.

The command above works, by the way, after having the dependency in `go.mod` and building or running the tests of the

[2019-02-15 05:29] overpod opened #19 ".env reload"
In the configuration file .air.conf.
There is an include_ext parameter.
Add the ability to specify .env files.
Or take a seat on how to set it up.

[2019-02-23 20:32] renatosuero commented on #17
@cosmtrek I don't know if it can be useful to you.  I commented this [line](https://github.com/cosmtrek/air/blob/master/runner/logger.go#L56) and that problem was solved to me. I'm not sure if that change will crash another thing(I tested in OSX and Linux)

[2019-02-25 05:53] cosmtrek commented on #18
Oops...It's my mistake to not follow the semver rules. I'll fix it in next release.  Thanks for your advice!

[2019-02-25 06:14] cosmtrek commented on #19
Could you try this`include_ext = ["go", "env"]`?

[2019-04-18 01:55] Funnyang opened #20 "remove the tmp dir after "Ctrl + C""
hello,
I want to remove the tmp dir after "Ctrl + C", can air support this feature ?

[2019-04-22 07:48] ahuigo opened #21 "Can not pass cli arguments to executed file?"
I want to pass some arguments to main:
[code]

[2019-04-22 08:02] ahuigo commented on #21
The config supports cli arguments.
[code]

[2019-04-22 08:02] #21 closed

[2019-05-09 01:06] WhileLoop commented on #17
I am having this issue too. @cosmtrek consider adding a note in big text in the readme that this is a known issue.

[2019-07-11 04:46] adamleo opened #23 "watch multiple dirs"
Hey @cosmtrek ,

Thanks for this awesome tool.
Just wondering that is there any support on watching multiple directories atm? I couldn't find any.
Or is there any plan to add this feature in the future?
Would be really helpful.

Cheers.

[2019-08-07 03:14] cosmtrek opened #25 "Word from the author"
First of all, great thanks to everyone's issue, comment, and PR.

I've been in trouble for months in my life. I'll back soon to review PR and fix bugs. Thanks for your patience and work.

[2019-08-23 09:11] julienkosinski opened #26 "Windows Docker-desktop and air"
Unfortunately, I can't make it work when it's executed from Windows host through Docker-desktop (using docker-compose with a volume). In theory, Docker desktop is correctly configured to share files between Windows and Docker volumes.

I guess the events air is watching are not triggered for some reasons in this setup.

Thank you for the great work here! :)

[2019-09-28 14:05] brpaz opened #28 "Add support for override the run command"
Hello. First of all congrats on this project.

I need to setup some environment variables when running my application.
The way I am using without air is having the following command in my project Makefile:

[code]

This works fine standalone but when running the application from air, I need a way to specify the APP_ENV environment variable.

[2019-10-18 02:53] woshizilong opened #29 "feature-request：About the signal when the killCmd method is executed"
🎉Thank you for your air, I like it very much.

I use Gin to write code for the server.
When the server will be shut down，I need to do some processing like closing the database connection.
But because the killCmd method sent the syscall.SIGKILL signal, there is no time to close the database connection.
When my Gin server is started again by air, an error can occur because the database connection is

[2019-10-18 14:40] cosmtrek commented on #29
I think it's better you handle the syscall.SIGKILL signal in your programs. Please refer to [this article](https://stackoverflow.com/questions/11268943/is-it-possible-to-capture-a-ctrlc-signal-and-run-a-cleanup-function-in-a-defe).

[2019-10-21 03:57] woshizilong commented on #29
I tried to handle syscall.SIGKILL and the air started before I closed the connection.

[2019-10-23 16:46] cosmtrek commented on #29
I'll try it.

[2019-10-26 08:53] goenning commented on #18
I've just hit the same problem, might be an option to release `1.10.1` with the same code as `1.10`.

[2019-11-09 19:15] #19 closed

[2019-11-09 19:20] cosmtrek commented on #23
It can watch current directories and subdirectories atm. Could you give me an example?

[2019-11-09 21:04] cosmtrek commented on #28
I've implemented it, could you try it?

[2019-11-09 21:06] cosmtrek commented on #17
@cyhhao @thenomemac @WhileLoop Thanks for your patience, I've fixed it, could you try it again?

[2019-11-09 21:07] cosmtrek commented on #20
I've implemented it, could you try it again?

[2019-11-09 21:27] cosmtrek commented on #26
Could you show me your config file?

[2019-11-10 11:40] cosmtrek commented on #18
@goenning I've  fixed some bugs and released a new version v1.11.1 :)

[2019-11-10 12:23] #25 closed

[2019-11-10 13:25] cosmtrek commented on #8
The new version has fixed it.

[2019-11-10 13:25] #8 closed

[2019-11-10 13:36] #18 closed

[2019-11-10 13:38] cosmtrek commented on #28
I add a new key `full_bin` that meets your needs.

[code]

[2019-11-11 06:33] Funnyang commented on #20
Thank you, but I have not used it recently.  I think it's useful.

[2019-11-11 13:06] #20 closed

[2019-11-15 07:08] oxycoder commented on #26
This is known issue with fsnotify: https://github.com/fsnotify/fsnotify/issues/292

[2019-11-15 13:58] cosmtrek commented on #26
Thanks!

[2019-11-15 21:12] jasonw-rr commented on #23
I am having the same wondering here too.

For example:
[code]
So different team focus on different service development.
Say, I am team 1.
I wish to hot reload when there is a change to `/common`, `/models`, and `service_1`, but NOT `service_2`

[2019-11-21 21:38] #17 closed

[2019-11-21 21:38] #28 closed

[2019-11-22 00:43] thenomemac commented on #17
Thanks for keeping up with continued contributions. Lots of devs benefit!

[2019-12-03 04:11] williambao opened #32 "failed to watching too many open files, error: %!s(MISSING)"
It's seems cannot run correctly when i have too many golang files...

<img width="797" alt="Screen Shot 2019-12-03 at 12 10 15" src="https://user-images.githubusercontent.com/779521/70019919-fc11ff80-15c5-11ea-80e4-630fe5bbb7ac.png">

[2019-12-03 15:44] cosmtrek commented on #32
Please refer to https://github.com/fsnotify/fsnotify/issues/129.

[2019-12-06 21:46] #32 closed

[2019-12-10 05:15] ChildHua opened #34 "where has windows config sample?"
[code]

[code]

[2019-12-10 17:06] cosmtrek commented on #34
Do you run `air` on Windows?

[2019-12-12 03:45] stanleynguyen commented on #23
hey @jasonw-rr you can do
[code]

[2019-12-13 02:34] xyfll7 opened #35 "make GitHub Short links"
### make GitHub Short links
[code]
### result
[code]

### use
[code]

[2019-12-13 22:10] jasonw-rr commented on #23
@stanleynguyen thanks for replying.
I guess it is more of a nice-to-have request.
Of course I could do it the way you suggested, but it's not really intuitive and not self-explanatory  of what's required.

In a more complicated repository, there would be 6+ services.
If a new sub directory is introduced by, say service_6, and is only used by service_6, instead of adding another directory to monito

[2019-12-14 08:05] dyzsoft opened #36 "how to use two cmd ?"
windows system:
air.conf file like this

[code]

but I found the ` go build -o /tmp/main.exe main.go` does not execute!!!
how to soulve this?

[2019-12-14 08:07] dyzsoft commented on #34
make sure  go build out with ext .exe  and run the execute file  with  ext .exe :)

this is a example 👍

[code]

[2019-12-14 14:44] cosmtrek commented on #36
try this:
[code]

[2019-12-14 14:44] cosmtrek commented on #35
Thanks for your advice! I'll have a try.

[2019-12-16 08:12] 2x2xplz opened #37 "build from multiple go files"
Using Windows 10 Pro

I have code in two files: `main.go` and `handlers.go`.

When I build from the command line, no problem: `go build -o ./tmp/main.exe`. But when I use that same command within `.air.conf`, it seems it only builds `main.go` and ignores `handlers.go`, because I get the error message:

[code]

the exact line in the config file is `cmd = "go build -o ./tmp/main.exe"`

**How can I r

[2019-12-17 06:18] sharefantasy opened #38 "Request feature for pause in build fail"
Hi, I would like to request for a feature. My development scene is this.
* Run "make build" as building command
* Output artifacts are not cleared before new build

So after build failed, Air runs the the previous success built artifact without noticing. I think a pause would be enough.

Could you please support this feature? thanks :)

Btw, I use air as nginx configuration reloader as well, it's

[2019-12-20 00:10] ihgann opened #39 "Exclude specific files"
AFAICT, there is currently no way to ignore specific files. This is especially pervasive for 2 reasons:

1) Generated files
2) Intermediate files

If either happens to have a specific extension you want watched (and most likely it will be `.go`), then unless it's always guaranteed to be in a specific directory these will always be watched.

I think instead of just `exclude_dir`, it should be possi

[2019-12-20 02:44] spiffyjr opened #40 "Include dir"
Would it be possible to add include_dir which would be used instead of exclude_dir. We have a monolithic repository and it would be easiest to have it watch the root and only include directories the project needs.  Thanks!

[2019-12-20 06:14] tobias-kuendig commented on #38
This is a must have feature. Too many times the error message gets burried in my own process' output. The reloading has to stop once a build failed and then start over once it's fixed!

[2019-12-20 06:17] ChildHua commented on #34
yes

[2019-12-20 06:34] ChildHua commented on #34
change
[code]
to
[code]
can fix the problem

[2019-12-20 06:40] ChildHua commented on #34
thanks ！！
I solved The problem by add "start" on full_bin's head
[code]

[2019-12-20 18:44] ihgann commented on #39
I see #22 seems to be attempting to address this. Any chance that is going to be approved?

[2019-12-20 22:40] cosmtrek commented on #39
@ihgann  It does make sense, I’ll implement it ASAP :P

[2019-12-20 22:43] cosmtrek commented on #40
OK, I’ll implement it:)

[2019-12-20 22:45] cosmtrek commented on #38
No problem, an option will be added to meet your requirement :)

[2019-12-22 08:58] chenyu1990 opened #41 "Please support absolute paths other than the root directory"
configs:
[code]

errors:
[code]

[2019-12-24 23:37] drshrey opened #42 "Warn if tmp dir is the current working directory"
In .air.conf, if you set the tmp to ".", your entire current working directory will be wiped. This can be very bad especially if you haven't committed to git in a while. Can we have a warning if it is set to "." or atleast some documentation around that please?

My .air.conf that caused this:
[code]

[2019-12-30 18:46] spiffyjr commented on #40
Great, thanks!

[2020-01-01 12:40] cosmtrek commented on #35
I've updated the download url~

[2020-01-01 12:40] #35 closed

[2020-01-01 12:41] cosmtrek commented on #39
@ihgann Done, could you try the latest version?

[2020-01-01 12:41] cosmtrek commented on #40
@spiffyjr Done, could you try the latest version?

[2020-01-01 12:41] cosmtrek commented on #38
@sharefantasy @tobias-kuendig Done, could you try the latest version?

[2020-01-02 12:10] tobias-kuendig commented on #38
Had to add `stop_on_error = true` to the config and now the build stops on error. Works like a charm, thank you @cosmtrek!

[2020-01-02 18:05] ihgann commented on #39
@cosmtrek It works great! Also, *really happy* to see the new logging fixes to not truncate application logs. This update is awesome! :)

[2020-01-02 18:05] #39 closed

[2020-01-03 07:05] #38 closed

[2020-01-03 16:39] spiffyjr commented on #40
I tried it out but adding `root = "../"` seems to not watch anything and I was able to get `include_dir` to work with it.

[2020-01-04 05:46] cosmtrek commented on #40
Suppose the repo's directory:
[code]

If you want to watch `A`, the air config should like this:
[code]
and running `air` in the root directory of repo should work.

[2020-01-04 05:52] cosmtrek commented on #42
Thanks for your advice, it does make sense, I'll update the README.

[2020-01-04 05:56] cosmtrek commented on #41
What's your project structure?

[2020-01-04 05:58] cosmtrek commented on #37
It does support multiple go files. I think something wrong in your config.

[2020-01-04 05:58] #36 closed

[2020-01-04 05:59] #34 closed

[2020-01-04 06:04] cosmtrek commented on #23
@jasonw-rr @adamleo I've finished the [`include_dir`](https://github.com/cosmtrek/air/commit/3409634cf6466a9b34de35a507e76a66ac5d87fe) feature.

The config may like this:
[code]

[2020-01-05 02:39] adamleo commented on #23
thanks, i'll close this now.

[2020-01-05 02:39] #23 closed

[2020-01-05 09:59] olup commented on #37
Got this problem too. Building takes only main into account. Using default conf here.

[2020-01-05 17:56] 2x2xplz commented on #37
I have a very simple setup. Perhaps you can provide an example in the README that covers multiple files? Thank you.

[2020-01-05 18:24] cosmtrek commented on #37
May like this:
[code]

[2020-01-06 16:37] jasonw-rr commented on #23
Highly appreciated 🙏🏻

[2020-01-07 17:20] antonderegt commented on #37
How could I use multiple files when using Docker? Normally I update the Dockerfile, but that isn't possible when using air.

[2020-01-07 20:31] antonderegt commented on #37
Same here, I use the default config and get the same error:
[code]

[2020-01-08 02:54] cosmtrek commented on #37
@antonderegt What's your project structure and go version?

[2020-01-08 07:04] olup commented on #37
https://github.com/cosmtrek/air/issues/37#issuecomment-570935350 solved it for me indeed. Thanks ! Maybe should be the default ?

[2020-01-08 17:09] antonderegt commented on #37
My Go version is which every you use in the Docker image, I don't have Go installed on my machine.

Folder structure:
.
├--- db
 &nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;  └─db.go
├--- main.go
├--- .air.conf
├--- go.mod
├--- go.sum

This is the simple example I'm trying to get working:
[code]

Error message:
[code]

I run the container with the command from the README:
[code]

I hope this information is us

[2020-01-08 17:41] antonderegt commented on #37
It looks like I fixed the issue by doing the following:

In go.mod (same dir as main.go) I added these lines:
[code]

In the db folder I added an empty go.mod
After that I was able to import the local package this way:

[code]

I'm new to Go, if this is the standard Go way, I'm sorry for wasting your time ;)

[2020-01-14 14:41] spiffyjr commented on #40
Yeah, but if I want the root to be `A1` (where I run air) and to watch `A` it doesn't seem to work?

`root = "../../"
include_dir = ["A"]
...
[code]

[2020-01-14 17:09] cosmtrek commented on #40
@spiffyjr seems wired and not work...

[2020-01-17 15:17] spiffyjr commented on #40
I'm not sure what you mean @cosmtrek ?

[2020-01-17 15:31] spiffyjr commented on #40
See https://github.com/cosmtrek/air/pull/43. This does what I need but I'm not sure it conflicts with anything else.

[2020-01-17 15:49] spiffyjr commented on #40
#43 didn't quite do what I needed in all circumstances but #44 should do the trick.

[2020-02-03 03:01] k1ng440 opened #45 "fsnotify does not work on Docker on Windows"
Hello,
Thanks for the great tool but sadly it does not work for shared volume because it's relayed on fsnotify, Please add support for pooling

github.com/radovskyb/watcher works great on Docker on Windows

[2020-02-11 04:55] NathanW2 opened #50 "Log output doesn't show until close"
Unsure this is related to my app or air itself but on Windows when I use `log.Print` etc for anything the output doesn't show until I cancel out of the running app and then it will dump everything to stdout.

Haven't tested another application yet to see if it's me doing something but thought I would just log it here first and close if it's my fault.

[2020-02-14 18:21] andrew-morris opened #52 "Does not support arguments"
My code requires that we follow the execution with a "serve" argument. Is this supported?

I noticed this PR but it seems to be closed:

https://github.com/cosmtrek/air/pull/12

[2020-02-21 02:33] Zhwt opened #53 "Windows path compatibility issue"
First of all, thanks for the great work!

I'm using Windows 10 Enterprise Edition 1607 LTSB, and my .air.conf file is like:

[code]

It seems air is using `cmd` to spawn go processes, by default it will generate `tmp is not recognized as an internal or external command` error, so I changed the `\` in `full_bin` property to `/`, others are the same as [air_example.conf](https://github.com/cosmtrek/

[2020-02-21 02:36] Zhwt commented on #53
The problem is probably related to

https://github.com/cosmtrek/air/blob/f5010ecb13e740523cbe8dbe175d3f07febad8af/runner/config.go#L192-L194

Both `c.Root` and `c.Build.Bin` are absolute paths.

[2020-02-26 21:38] dtrinh100 opened #54 "Example of using Air with Docker Compose"
Is it possible to get an example with getting Air to work with Docker Compose? It keeps giving me an error in which the Air command is not found.

[2020-03-08 05:51] jeremyjohn opened #55 "Binary not stopping on Ctrl + C on windows"
OS: `Windows 7 x64`
Terminal: `mintty 2.8.4 (MINGW64 git-scm) `

Config:
[code]

Steps to reproduce:

1. Create go project with `http.ListenAndServe` and a blank handler.
2. Start Air `air` in Terminal
3. Access the handler endpoint exmaple: `http://localhost.com:1234/my_endpoint/`
4. Ctrl + C in Terminal.

Air is closed but binary is still running when checked in Task Manager.

[2020-03-17 01:32] shmilyoo opened #56 "can not start air if main fuc in the go file not named with main.go"
my entry file is index.go,
when run air, the error output is
[code]

- go.mod
[code]

- .air.conf
[code]

[2020-03-22 02:40] WLun001 opened #57 "Does it support start multiple go files for microservices project?"
Assuming the folder structure look like this

[code]

[2020-03-25 06:16] shmilyoo opened #58 "how to run air with environment variables"
- this line blew is not work
`cmd = "MONGODB_HOST=127.0.0.1:27017 MONGODB_USER=test MONGODB_PASSWORD=test REDIS_ADDR=127.0.0.1 GIN_MODE=debug go run *.go"`

- this line blew works well
`MONGODB_HOST=127.0.0.1:27017 MONGODB_USER=test MONGODB_PASSWORD=test REDIS_ADDR=127.0.0.1 GIN_MODE=debug air`

### .air.conf
[code]

[2020-03-25 15:14] cosmtrek commented on #58
Please use `full_bin` instead of `cmd`, like:

[code]

[2020-03-25 15:16] cosmtrek commented on #57
Yes

[2020-03-25 15:17] cosmtrek commented on #56
Maybe something wrong in your code.

[2020-03-25 15:32] WLun001 commented on #57
Could you please provide me example?

[2020-03-26 02:04] cosmtrek commented on #57
Oops, I misunderstood. Currently, It does not support running multiple binaries at the same time.

[2020-03-26 08:24] #56 closed

[2020-03-26 08:28] shmilyoo commented on #58
I try this, but in the code I can not get the environment `MONGODB_HOST=127.0.0.1:27017 MONGODB_USER=test MONGODB_PASSWORD=test REDIS_ADDR=127.0.0.1 GIN_MODE=debug`,  and then I have a failure with mongodb init error.

[code]

[2020-03-27 13:49] cosmtrek opened #59 "JOB HIRING!"
I'm working at [Bytedance](https://www.bytedance.com) at present. There's a lot of open positions for hire. If you're interested, you can email me to know more. I'll follow up on your resume.

Referral:
* social: https://job.toutiao.com/s/7tH55d
* campus: https://job.toutiao.com/campus/  code: N2BZMNX

My info:
* email: cosmtrek@gmail.com
* wechat: cosmtrek

[2020-03-27 16:03] JamesMura commented on #52
I think you can add your arguments to the full_bin configuration item [here](https://github.com/cosmtrek/air/blob/0b8fa64fe007c34001bc2ad7279bb94e71588f5f/air_example.conf#L14)

[2020-03-31 08:26] ahuigo opened #60 "Could it watch multiple directory?"
Could it watch multiple directory?
[code]

[2020-03-31 15:07] jacorpski commented on #54
Have you remembered to run `go get ...` inside the Dockerfile? If the `air` command could not be found it sounds to me that the package haven't been downloaded.

I put together a quick working example and here is my Dockerfile and docker-compose.yml:

Dockerfile
[code]

docker-compose.yml
[code]

[2020-04-01 01:50] andrew-morris commented on #52
You're exactly right. Thanks!

[2020-04-01 01:50] #52 closed

[2020-04-01 09:17] wantg opened #61 "Runtime error didnot show"
0.env
[code]

1.create ```main.go``` (by gin official example) with a runtime error
[code]

2.run air
[code]

3.detonate
[code]

4.result
error message didnot show in air log

[2020-04-03 10:22] kindywu opened #62 "air auto reboot occur error in window10+ go1.14.1+vscode"
main.go has changed
building...
failed to remove C:\WS\golang\gzcode\tmp\main.exe, error: remove **C:\WS\golang\gzcode\C:\WS\golang\gzcode\tmp\main.exe**: The filename, directory name, or volume label syntax is incorrect.
running...

![image](https://user-images.githubusercontent.com/6177365/78350567-ffe77a00-75d7-11ea-9c8b-1f30a7561b07.png)

[2020-04-03 10:22] kindywu commented on #62
but it still work

[2020-04-03 10:23] kindywu commented on #62
air is great!!!

[2020-04-15 08:44] musinit opened #63 "Different log level with different colors"
It would be nice to inject diff log levels for runner, builder (and others loggers) with diff colors. It would help to differ common 'INFO' messages from runner from, for example, 'WARNING', that can occur by this https://github.com/cosmtrek/air/issues/42 case with tmp as '.' (pretty dangerous)

[2020-04-16 11:19] musinit commented on #42
Maybe show it like this?
https://github.com/cosmtrek/air/pull/64

[2020-04-20 18:09] incker opened #65 "Config sample for windows"
Have found [closed issue](https://github.com/cosmtrek/air/issues/34) about config sample for windows

But I am too green in golang so just simple coping does not work.

Can you provide please any working config that will just do `go run hello.go` for me, beginner or  `go run main.go` (Golang tutorial still haven't told me how to name main file)

[2020-04-26 05:01] anpham1925 commented on #65
hi @incker , i read in the doc, just run `curl -fLo air.exe https://git.io/windows_air` in your project for it to download air.exe to your project, then run it without any .air.conf file, im using that way and it can reload my app though there're some error or warning in console but it does reload the app

[2020-04-26 05:39] snowdream opened #66 "never reached"
I can not specify the config file.

[code]

[code]

[2020-04-26 05:57] snowdream commented on #66
use the following command instead:

[code]

[2020-04-26 05:57] #66 closed

[2020-04-26 09:42] dmitrijs-pavlovs-dev opened #67 "Windows file change detection from docker container"
Hi. This looks like a good file watcher, but i can't use it because it does not detect windows file change events from docker container. Is it possible to use polling ?

[2020-04-27 03:00] snowdream opened #68 "Logs can be shown on the terminal, but not be written in the log file.Why?"
[code]

[2020-05-15 00:12] clintwan opened #69 "[feature expect] support symbolic link"
air is an awesome toy.
Actually I'm fresh player over 3 years until I meet air.

Here’s an advice.
I have a few symbolic links in my sources directory.
[code]

Hope air can imporve to support them like this
[code]

[2020-05-15 02:16] hisato-eguchi commented on #29
thank you for air!!

i tried to handle syscall.SIGKILL in my program.

[code]

but, i couldn't received SIGKILL.

so, it's better if i could pass SIGTERM.

[2020-05-15 04:17] hisato-eguchi commented on #29
thank you for air!

i tried this code in my program.

[code]

but, i couldn't receive SIGKILL.

i hope i can send SIGTERM instead of SIGKILL.

[2020-05-16 20:06] incker commented on #65
@anpham1925, thank you, it works

[2020-05-16 20:06] #65 closed

[2020-05-20 06:04] mehran-prs opened #70 "showing watched and excluded files just when user set -v flag"
What do you think about a `-v` flag which specifies we want to see the list of included and excluded files on running command `air`?

[2020-06-07 03:51] sharefantasy commented on #38
Thanks! works well in my environment! :)

[2020-06-10 02:33] vicnoah opened #72 "Does not work on vscode remote WSL"
vscode remote WSL cannot monitor file changes

[2020-06-15 03:58] seth-shi opened #73 "start with windows"
Hope to add a Windows configuration to README as it is different from Linux

In particular, bin_full should be start
[code]

[2020-06-18 03:00] cosmtrek commented on #73
Your pull requests are welcome~

[2020-06-18 04:52] seth-shi commented on #73
Ok, it's my pleasure

[2020-06-18 04:52] #73 closed

[2020-06-20 05:51] grawlinson opened #75 "Binaries shouldn't be committed to VCS"
Binaries generally shouldn't be committed to VCS. I recommend creating a GitHub action that automatically generates the binaries and attaches them to a release.

[2020-06-22 03:07] sharefantasy opened #76 "Best Practice to work with delve"
Hi, I'm looking for a better way to make air work with delve remote debugging. I setup up this param in full_bin
[code]
But during reloading delve reports an error of "address already in use".

Is there a best practice  for delve debug config? Thanks! :)

[2020-06-22 16:33] cosmtrek commented on #76
Sorry, I'm not familiar with dlv. Maybe others could help you. 😄

[2020-06-22 16:35] cosmtrek commented on #75
Your contributions are welcome 😸

[2020-06-22 16:49] cosmtrek commented on #53
Sorry, I work on macOS and Debian all the time, not well known at Windows. I would greatly appreciate your contributions.

[2020-06-23 01:43] yanmingsohu commented on #50
On Windows, Add AIR config:
`full_bin = "start /WAIT app.exe"`

This configuration will make the program open and run in a separate window, everything is OK.

Or Run the program in a different directory:
`full_bin = "start /D build /WAIT app.exe"`

[2020-07-01 19:59] udaya2899 opened #77 "Option to use bash instead of sh"
I have my environment variables in a file called `dev.env` which I'd want to `source` by executing `source dev.env` before building, since the cmd command is executed inside a `sh` and not `bash`, I cannot source the file.

I tried doing the following

`cmd = ". ./dev.env && go build -o ./tmp/main ."`

But it doesn't work. The variables exported in dev.env doesn't impact the project.
It'd be great

[2020-07-01 20:06] udaya2899 commented on #77
The fix that I'm temporarily using is, to run air, I go with the default `.air.conf` file without any changes, but execute air command as

`source dev.env && air`  - This works

[2020-07-02 02:45] kindywu opened #78 "failed to remove in window10 vscode go1.14 The filename, directory name, or volume label syntax is incorrect."
failed to remove C:\WS\golang\demo11\tmp\main.exe, error: remove **_C:\WS\golang\demo11\C:\WS\golang\demo11\tmp\main.exe:_** The filename, directory name, or volume label syntax is incorrect.

[2020-07-02 02:46] kindywu commented on #78
mybe the path is double

[2020-07-02 02:47] kindywu commented on #78
![image](https://user-images.githubusercontent.com/6177365/86310784-6caef680-bc51-11ea-93bc-1ae80855e7a5.png)

[2020-07-02 03:02] kindywu commented on #78
the air code remove path is not 的log print path?
if err = os.Remove(cmdBinPath); err != nil {
	e.mainLog("failed to remove %s, error: %s", e.config.rel(e.config.binPath()), err)
}

[2020-07-02 08:29] sokratisg commented on #76
We've been using the following:

[code]

This is run within a docker container with port 2345 mapped to a host port, usually the same but depends on how many projects a dev runs simultaneously.

[2020-07-02 18:53] udaya2899 commented on #77
Hello @cosmtrek, Please respond to PR/Issue about your opinions

[2020-07-04 14:36] 178inaba opened #81 "Unformatted source"
Execute `./hack/check.sh all`, the difference will appear in the source code.

[2020-07-13 17:05] tmwatchanan opened #83 "Hot reloading does not work when placing main.go inside cmd/ directory"
My project structure looks like this:
![image](https://user-images.githubusercontent.com/13808339/87332355-9fb48c80-c565-11ea-9e03-8ba4663b018a.png)

## .air.conf
[code]

[2020-07-14 10:51] sajallimbu opened #84 "Hot reloading not working in windows"
My project does not hot reload on change. Instead it runs the old build.

![image](https://user-images.githubusercontent.com/40119982/87418170-ff0bae80-c5f0-11ea-8853-8cff6a561277.png)

[2020-07-14 12:41] #84 closed

[2020-07-14 20:14] MaMrEzO commented on #41
I want same thing, I am developing a module and a project at same time,
So whenever I made a change in module(Outside root directory) I should make a change to project too(an empty line add or remove) to see how changes will effect.
For more info, in my case, both module and project are in same directory:
[code]
I cant move the module to the project folder, the module itself been used by other pro

[2020-07-14 20:18] MaMrEzO opened #85 "Watching two folder?"
I am developing a module and a project at same time,
So whenever I made a change in module(Outside root directory) I should make a change to project too(an empty line add or remove) to see how changes will effect.
For more info, in my case, both module and project are in same directory:
[code]
I cant move the module to the project folder, the module itself been used by other projects too.

[2020-07-16 11:15] udaya2899 opened #86 "Project Dead?"
It's been more than a month since any updates were given, any issues were addressed and PR's merged.
I love air more than any other live-reload applications. Sad to see this :/

[2020-07-21 01:09] cosmtrek commented on #86
Sorry to hear about it. I've been busy working recently and have no time to maintain it right now.

[2020-07-21 05:05] aldovc commented on #86
@cosmtrek is it safe to assume this project is still active? Or should we start proposing alternatives? Thank you

[2020-07-21 17:17] udaya2899 commented on #86
It'll be great if you could allow volunteers to be maintainers. This is a good project, and I'd not want it to go unmaintained. people have been proposing good PR's

[2020-07-22 04:15] cosmtrek commented on #86
Thanks for your kindness. I'll consider it and give feedback quickly.

[2020-07-23 10:46] xiantang commented on #59
bytedancer

[2020-07-23 16:03] xiantang opened #87 "[disscuss] what CI/CD tools should we use?"
jenkins?
github actions?
or
Travis CI?

[2020-07-24 02:27] cosmtrek commented on #87
I prefer GitHub actions than circle ci.

[2020-07-24 02:44] xiantang commented on #87
@cosmtrek we can remove circle ci support and import Github actions. I am work in process on import Github actions ,and i want delete  cicle ci dependence.

[2020-07-24 11:12] chenlexing opened #89 "can you support php swoole project ？"
eg. hyperf ， laravels

[2020-07-24 14:06] xiantang commented on #89
let us disscuss.i think we can build project language independent

[2020-07-24 14:42] #86 closed

[2020-07-24 16:38] #87 closed

[2020-07-25 03:07] #81 closed

[2020-07-26 13:34] kongerlengzi opened #93 "how should i do when /bin/sh: 1: go: not found happened?"
/bin/sh: 1: go: not found
[21:27:53] failed to build, error: exit status 127

[2020-07-26 14:02] xiantang commented on #93
could you provide the minimum example for repoduce this bug.

[2020-07-27 13:28] kongerlengzi commented on #93
i just go get it in go mod -->"go get github.com/cosmtrek/air", use comand  "air",show me "bash: /home/username/.air: no such file or directory.
so i  use "sudo air",them show me  "/bin/sh: 1: go: not found"

[2020-07-27 15:01] xiantang commented on #93
add this `export PATH=$PATH:$(go env GOPATH)/bin ` to your`~/.bash_profile` and run air

[2020-07-28 15:24] kongerlengzi commented on #93
But,i did export  PATH=$PATH:$GOPATH/bin in my ~/.bashrc.It is ok for using golang command.Maybe my linux have some problem.Anyway,thank you for this.

[2020-07-28 15:58] #93 closed

[2020-07-29 15:57] arya opened #94 "Process tracking can get off-by-one"
I've observed that sometimes `air` fails to kill the previous version of the process and tries to start a new one and fails. Here is a log with the debug flag on:

[code]

[2020-08-02 14:37] #75 closed

[2020-08-03 01:10] uta-mori opened #97 "please add install guide Linux binary"

[2020-08-03 03:14] xiantang commented on #97
this week we will release new version. and you can download binary in release page. we will add install guide in README page

[2020-08-03 08:38] ksamborski commented on #97
I can't see any binary (only source code) on the release page. Could you add binaries there?

[2020-08-05 04:43] tkms0106 commented on #97
I guess only README is updated for the next version right now.
Therefore, they probably add it when the next version is released.

[2020-08-05 06:38] xiantang commented on #97
@ksamborski @tkms0106  we will release next version in this weekend. and update guide in README

[2020-08-06 13:02] xiantang commented on #97
@uta-mori @ksamborski @tkms0106  https://github.com/cosmtrek/air/releases/tag/v1.12.2 V1.12.2 is released you can download binary in release page and I will write install guide in README soon.

[2020-08-08 14:19] ns3777k commented on #83
same thing. tried different configuration, does not work =\

[2020-08-09 03:00] xiantang commented on #83
@ns3777k you mean add filename as  parameter will work fine. but use air will not work?

[2020-08-09 03:02] xiantang commented on #83
plz provide more information to help me reproduce this bug.

[2020-08-09 12:51] ns3777k commented on #83
@xiantang

So. I've a project with the following structure:

/
    -> cmd
        -> geo-server
            -> main.go
            -> server.go
    -> .air.toml

.air.toml:

[code]

Makefile:

[code]

If I install air with `go get -u github.com/cosmtrek/air`  and run `air` it says:

[code]

Also, even if I it says upgrading to v1.21.2 version, `-v` says I use v1.21.1.

But this works as expected w

[2020-08-10 13:03] xiantang commented on #97
now binary could download in release page.

[2020-08-11 07:12] uta-mori commented on #97
@xiantang

thanks

Could you put an example command in the README for the installation, just like the other methods?

[2020-08-13 19:52] scarycoffee opened #102 "Cannot read from stdin when using Air"
When accessing stdin using `reader := bufio.NewScanner(os.Stdin) etc etc` when the program is running through air, I cannot access the input. However, if I run the program without air, I can access the stdin input.

Is this an error or something that I am doing wrong?

[2020-08-14 06:45] mytc opened #103 ".air: No such file or directory"
Hi, I got this error :
`.air: No such file or directory
`

The go version is go version go1.14.6 linux/amd64
I followed your readme guide to install the package.
Here is my .bashrc
[code]
And I have `source .bashrc` after edit the file, But still not working.

Any idea?
Thanks.

[2020-08-14 08:04] xiantang commented on #103
you can try to remove `alias air='~/.air'` from your .bashrc
because if you run air it will execute air in you home path, and air absolutely not in your home path.
and you can try add `export PATH=$PATH:$(go env GOPATH)/bin` below `export PATH=$PATH:$GOPATH/bin`
and source your `.bashrc` again.
@mytc

[2020-08-14 15:27] mytc commented on #103
@xiantang still not working.
Maybe it is becuase I am using gvm?

[2020-08-14 15:28] mytc commented on #103
@xiantang Ok. working now!! Thanks.

[2020-08-14 17:14] #103 closed

[2020-08-15 08:00] #97 closed

[2020-08-15 09:11] xiantang commented on #102
currently we can‘t access the stdin input...

[2020-08-15 16:17] Lomomn commented on #102
It's ok. I have a workaround using a tcp connection. Thank you for the great work.

[2020-08-15 20:17] Lomomn commented on #102
Just curious, but why can't stdin be accessed? Is it a limitation of go?

[2020-08-16 06:31] xiantang commented on #102
air is use exec.Command to run your application.
and i find a way to access subprocess's stdin.
[code]
and I will try to add as a feature to air.
it just set subprocess's stdin as `os.stdIn`

[2020-08-16 20:36] Lomomn commented on #102
This is great news! Looking forward to it and thank you for your work :)

[2020-08-17 10:10] kindywu opened #105 "air version is not match"
![image](https://user-images.githubusercontent.com/6177365/90384894-dd508c00-e0b4-11ea-9dbe-e3dcfd81cfda.png)
![image](https://user-images.githubusercontent.com/6177365/90384912-e6d9f400-e0b4-11ea-8910-3d8fb6252d5d.png)

[2020-08-17 10:48] xiantang commented on #105
ops. i will release 1.12.4 again...

[2020-08-17 10:48] xiantang commented on #105
thank you...

[2020-08-23 13:00] chjiyun opened #106 "main.exe is reproduce but http server is not restart"
[code]
change the code and air watch the files successfully but http service is old

[2020-08-23 16:51] huoding opened #107 "goproxy.cn cache a invalid tag v1.21.2"
https://blog.huoding.com/2020/08/23/843

[2020-08-23 17:08] xiantang commented on #107
it my mistake. i released a wrong version and we will fast release version
and make version bigger than 1.21.2

huoding <notifications@github.com> 于 2020年8月24日周一 00:51写道：

[2020-08-24 04:50] chjiyun commented on #106
@xiantang  yes, terminal print
[code]
but http server is not restart

[2020-08-24 05:57] xiantang commented on #106
@chjiyun maybe old process not be killed..

[2020-08-28 06:27] chjiyun commented on #106
@xiantang   I update the air and then the http server is running ok，but colorful log missed

[2020-08-28 07:40] LamdoHeaven commented on #83
@ns3777k @xiantang
Actually air still uses .air.conf as the default filename, not .air.toml as what  document  writes.

[2020-08-28 10:49] xiantang commented on #83
@LamdoHeaven  @ns3777k  v1.21.2  is an invalid version, it maybe is a old version ,because i want release 1.12.2 but released 1.21.2 than i delete the 1.21.2, but `http://proxy.golang.org` cache the 1.21.2 so make this bug.
 i will release a new version bigger than v1.21.2  than we can use .air.toml  as default.

[2020-08-30 16:29] xiantang commented on #76
I wrote a plugin of goland. it will auto reconnect debugger.
https://github.com/xiantang/air-plugin
and finally I will make a pull request to air. then we can use air smoothly.

[2020-08-31 09:38] qiucheng6 opened #109 "Unable to implement boot - up"
Setup bootup scripts in Linux will not start the program properly

[2020-08-31 10:48] xiantang commented on #109
you mean `install.sh` will not work? @qiucheng6
and please provider more information.

[2020-09-01 08:03] kindywu commented on #105
keqi

[2020-09-02 20:42] Johann-Goncalves-Pereira opened #110 "The .air don't exist"
![image](https://user-images.githubusercontent.com/62612685/92034173-3ff78800-ed43-11ea-83a6-7625968f45a7.png)

[2020-09-03 08:47] xiantang commented on #110
please show your GOPATH by run go env GOPATH.
and to GOPATH/bin path check air binary is in this path.

[2020-09-03 08:48] #109 closed

[2020-09-03 08:49] xiantang commented on #110
my linux server is work well.
![image](https://user-images.githubusercontent.com/34479567/92093042-6ed63280-ee05-11ea-8023-fbf8c68ca4b3.png)

[2020-09-11 10:54] Metrakit commented on #76
Hi @xiantang Im using Goland. Your plugin is ready for use ? I'm currently looking for use Air integrated to Goland

[2020-09-12 20:04] jhartman86 commented on #94
Major +1 for this issue. I see this issue _all the time_, to the point where AIR is basically unusable and requires stopping/restarting the air process entirely... at which point, what's the point.

[2020-09-13 05:13] xiantang commented on #94
can you provider more informations about this issue. such as os platform

[2020-09-14 06:48] kasuskasus1 opened #113 "Permission denied after update from 1.12.1 to 1.12.3"
Just updated air from 1.12.1 to 1.12.3. Now running `air` in go folder fails as follows:
[code]

[2020-09-14 19:14] jhartman86 commented on #94
@xiantang can't speak for original poster, but I see this on Alpine Linux (ie. inside a Docker container) all the time. It'll work for about 10 or so minutes before AIR seems like it loses track of which processes are running or not, then starts trying to build/run the latest prior to the other process having fully shutdown (or trying to shutdown at all).

[2020-09-14 19:27] arya commented on #94
I'm on macOS running docker.

[2020-09-17 21:12] francismarcus commented on #113
Same here I'm afraid

[2020-09-18 05:39] xiantang commented on #113
@kasuskasus1 @francismarcus  which platform did your use？ i cannot reproduce this bug in osx catalina

[2020-09-19 18:56] francismarcus commented on #113
@xiantang i'm on catalina 10.15.5.
Not entirely sure what's causing this as it's working in all projects but one, where it has previously worked.

[2020-09-22 21:29] Hritik14 commented on #59
Remote positions open ?

[2020-09-25 15:26] guyguy333 opened #114 "Go 1.15: failed to build"
Hello,

We did try to update to Go 1.15 but we're having this issue starting air:

`failed to build, error: fork/exec /bin/sh: Setctty set but Ctty not valid in child`

just after `building...` step. We use Go 1.15 alpine docker image.

Tested with Air v1.12.4

Thanks

[2020-09-25 17:59] nickysemenza commented on #114
I fixed this in https://github.com/cosmtrek/air/pull/112, until the maintainers cut a new release i'm pinned to the latest commit in my go.mod (`go get github.com/cosmtrek/air@b538c70423fb3590435c003dda15bf6a2f61187c`)

[2020-09-27 08:50] cosmtrek commented on #59
@Hritik14 Nope...

[2020-10-05 14:21] kasuskasus1 commented on #113
Resinstalled air completely, the issue is now gone.  🤷‍♂️

[2020-10-07 08:05] jroam opened #115 "why must bin contain ".exe" on windows?"
on the windows in .air.toml file

**must like this:**
`
cmd = "go build -o gfdemos.exe"

bin = "./gfdemos.exe"
`

**wrong like this:**
`
cmd = "go build -o gfdemos"

bin = "./gfdemos"
`

Can I use like this always:
`
cmd = "go build -o gfdemos"

bin = "./gfdemos"
`

Thinks!

[2020-10-10 14:46] xiantang commented on #115
sorry... i not have window environment.could you send a pr? i will check it.

[2020-10-10 14:47] xiantang commented on #114
work is so busy... if i have time will release a new version..

[2020-10-10 14:47] #110 closed

[2020-10-14 04:15] naseem-opal commented on #94
I am also seeing this issue, but more or less immediately on MacOS not using Docker.

[2020-10-14 09:57] xpufx opened #116 "Fatal error handling"
I am running air on Linux with 'go run'. Everything is working fine. Thanks for that first of all. It was impressive. I didn't even create a config, just typed 'air' and it works. Very cool.

Here's what just happened. I have air running in an ssh terminal to which my network lost connection. An instance of air is still running - meaning my go app which blocks a port is still running. The program

[2020-10-14 09:59] oktayaa commented on #72
Can you explain a little bit more. I am using vscodium over SSHFS and it's working fine. Perhaps in your situation it's two layers of filesystems or something.

[2020-10-16 16:59] sinnrrr commented on #113
The reinstallation of Air didn't help. Deleted binary from GOPATH, and cleared all caches.

[2020-10-17 03:36] chjiyun commented on #115
Just like this:
[code]

[2020-10-17 05:09] eleazargan opened #117 "[Doc] Instruction for Docker method is not right"
When I first started to use air in my application, I go with the docker method of running it. Realised that the default Entrypoint for the docker image does not read the config that I've created in `.air.toml`. After sometime realised that for docker, the config should be in `.air.conf`. I guess it's worth to update the documentation for docker.

[2020-10-17 05:15] vicnoah commented on #72
I am using ubuntu 20.04 subsystem on windows 10, and using vscode's remote wsl extension on the main system can't detect file changes during ubuntu subsystem development.Not sure if it can be fixed.

[2020-10-19 09:50] Steiniche commented on #114
Just came here to report the same issue.
@xiantang hope you get time to cut a release soon and good luck with the work!

[2020-10-19 17:06] elboletaire commented on #105
Also, in go pkg latest version tagged is `1.21.2` (jumping from 1.12.4).

[2020-10-19 21:24] Johann-Goncalves-Pereira commented on #110
I'm solved my problem

[2020-10-23 07:58] sinnrrr commented on #113
That finally worked by itself. The error has gone after reloading the PC.

[2020-10-26 22:50] technicallyjosh commented on #94
I ran into this issue all the time on OSX inside docker-compose. I fixed it by adding the following to a `.air.toml` file...

[code]

[2020-11-07 20:59] trevoro opened #120 "Support default config file path"
When running air you *must* specify the config file even though one may be present in the cwd.
I'd like to suggest we look at reading the `.air.toml` file if it's present by default and using that if the `-c` flag is not passed. It's just a few more lines of code to set the default and I'd be happy to write the PR. This way you can just run `air` without having to type in the config path every tim

[2020-11-10 10:51] HurSungYun commented on #114
same here. wish you have time to release soon 🙏

[2020-11-13 23:58] Steiniche commented on #114
@xiantang is there anything we can do to help the process of cutting a new release?

[2020-11-14 09:08] Slovty commented on #62
it can not work ,what about yours

[2020-11-15 23:22] silverwind commented on #94
Happens regularily here as well. Sometimes, when saving files in quick succession, Air seems to fail to kill of the old process which then get orphaned and the only remedy is to stop watching and `kill` it.

[2020-11-17 21:56] kanopeld commented on #113
On Manjaro linux not working. Relogin and reinstall didn't help. The binary file have not executable permissions for all users

[2020-11-17 22:14] kanopeld commented on #113
I've found way: add "&& chmod +x /path/to/bin" to cmd field in build section. That crutch working but need better way

[2020-11-18 09:36] datoga commented on #120
@trevoro Reading the documentation is like you said, but I have the same issue, I have to pass the `-c `flag with the configuration file although my config file is `.air.toml`.

[2020-11-21 04:49] cosmtrek commented on #120
@trevoro @datoga What's your project layout?

[2020-11-21 04:59] #105 closed

[2020-11-21 06:40] cosmtrek commented on #117
Sorry, just release a new docker version XD

[2020-11-21 06:47] cosmtrek commented on #114
@Steiniche @HurSungYun Just release a new version, please check it again :)

[2020-11-21 06:49] #114 closed

[2020-11-21 06:50] #117 closed

[2020-11-21 16:59] Penthious opened #125 "Arguments are not supported"
# Current process
I am using codegansta and came across air and thought it was much better but my use case is
`go run main.go server`
`go run main.go migrate`
`go run main.go seed`
I am using "github.com/spf13/cobra" to be able to add my own sub commands.
#
I would like to be able to just do:
`air server`
`air migrate`
`air seed`
but this does not seem supported, setting the value inside of `full_

[2020-11-23 00:08] ifuyivara opened #126 "Execute binary before build"
Hello!

I was wondering if it's possible to execute the binary command before executing the build, this is specially helpful when running a service inside a container where you want the service to start right away and only rebuild when there is a change in the code.

Sort of similar to the `--start-service` flag in https://github.com/cespare/reflex#--start-service

[2020-11-23 14:09] Steiniche commented on #114
@cosmtrek thank you so much will check it out and report back.

[2020-11-24 08:04] Dids commented on #68
I've been seeing something similar, but my issue seems to be specifically related to how shutdown is handled.

It seems like Air is sometimes a bit too eager to shutdown after a file has changed, even when using `send_interrupt`, so a new build is started before the previous one got a chance to even exit.

[2020-11-24 08:07] Dids commented on #58
Another option is to use [godotenv](https://github.com/joho/godotenv):
[code]

[2020-11-24 08:12] Dids commented on #94
Could this potentially be remedied by always having the `delay` option be greated than `kill_delay`, to ensure that the process is killed before even attempting to trigger a new build?

In my case I'm relying on `send_interrupt` instead, so `kill_delay` should ideally never kick in, but I'm still seeing all sorts of weird behavior, such as the process getting killed before it has gracefully shut d

[2020-11-25 10:44] axiaoxin opened #127 "how to ignore golang test files"
try to set exclude_file = ["*_test.go"]
but not work

[2020-11-27 11:10] Steiniche commented on #114
Hi @cosmtrek I have now tested with go 1.15 and have the following observations

- The docker image is still running with go 1.13, maybe this should be updated?
- `go get github.com/cosmtrek/air` reports a strange version "go: downloading github.com/cosmtrek/air v1.21.2" however it seems like I am getting the latest release which include the changes for this issue

Overall everything works now for

[2020-11-27 18:37] silasb commented on #107
Any update on this? https://pkg.go.dev/github.com/cosmtrek/air@v1.21.2?tab=versions and my go.mod are showing incorrect versions.

[2020-12-02 08:47] liuzhaomax opened #128 "Colour of gin's log"
How can I remove ?[97;42m] and change it to color?
I have already used gin.DefaultWriter = colorable.NewColorableStdout()
Goland can show color on gin's log, but no color when the system is launched by air.

launched by air
![image](https://user-images.githubusercontent.com/20788414/100849120-344c6680-34d6-11eb-9fe1-e3e921bd8a9d.png)

launched by goland
![image](https://user-images.githubuserconte

[2020-12-02 08:55] liuzhaomax commented on #128
Windows

[2020-12-07 09:16] ohano opened #129 "Dosen't send interrupt signal while the second time file change"
After I boot the Air , I modify the files which are under watched, it can send a interrupt signal normally~
And when I modify the file again, air wouldn't send a interrupt signal any more~
Both Mac and Linux~

kill_delay = 5000 # ms

[2020-12-10 02:46] kaihendry opened #130 "Notice changes below the path"
Hi, [someone recommended air to me](https://stackoverflow.com/questions/65213817/live-reloading-a-relative-package), but I can figure out how to use it.

https://s.natalian.org/2020-12-10/air.mp4

[code]
https://github.com/kaihendry/aws-sam-gateway-example/tree/master/local-go-serverless-api

Could you please advise?

[2020-12-14 15:25] bensaufley opened #131 "Means of manually triggering restart?"
First off: thanks for this! It's immensely useful to have a fast and full-featured Go reloader like this. I came here from Fresh and I appreciate the extra functionality this package offers on top of that.

I've noticed a few issues others have pointed out in my short time using Air, like #129, and I think one way to mitigate the frustration factor here while these sorts of things are worked out w

[2020-12-15 04:57] bensaufley commented on #131
I actually just found the `exclude_unchanged` flag, so that answers the second question.

Right now it's failing to reload more times than not, either because it says a file changed but then does nothing, or because it reloads and the server port is still taken from a previous task (#129 possibly?).

[2020-12-18 00:04] HeCorr opened #132 "[Question] Is this expected behavior on Windows?"
When running air on Windows 10, the script itself is open on another CMD window, which is rather annoying:

![image](https://user-images.githubusercontent.com/75134774/102558018-47049500-40ab-11eb-85c1-2f9fdeb28f07.png)

It also reappears every time air rebuilds the package.

I wanted the app to execute on the same terminal where I run `air`. Is that possible?

Thank you!

[2020-12-18 01:05] HeCorr commented on #132
Nevermind, got it working with this setting:

`full_bin = "start /MIN /D src /WAIT bin/temp.exe"`

Explanation:
`/MIN` - start minimized. doesn't bug you and you can still read logs.
`/D src` - optional. due to my project structure, I had to use it to set the working dir.
`/WAIT` - required in order for the terminal window to be closed by air when it exits/reloads.

[2020-12-18 01:05] #132 closed

[2020-12-18 19:09] HeCorr opened #133 "'go get' installs old version"
On Windows 10, installing Air through the `go get -u github.com/cosmtrek/air` command installs the version `1.12.1` instead of the latest `1.15.1`.

[2020-12-18 19:09] HeCorr commented on #133
...I guess this explains all the issues I've been facing

[2020-12-19 14:06] emilhakobian opened #134 "Air stuck after rebuilding Docker image or changing files"
I'm having trouble with live reload for my go application running on docker. There are two cases.
1. I start the docker(or reload) and air start to watching files in my directory, but after changing any file it stuck on building forever.

<img width="404" alt="image" src="https://user-images.githubusercontent.com/4651893/102691283-bf429600-4224-11eb-9658-335278c189f3.png">

2. I rebuild the image

[2020-12-24 19:59] aibolorazbekov commented on #134
The same problem with Docker 3.0.0 version.

[2020-12-24 20:12] aibolorazbekov commented on #134
Found the solution:
1. Open Docker desktop Preferences -> Experimental Features
2. Switch on Use gRPC FUSE for file sharing option.

[2020-12-28 19:15] HeCorr commented on #133
it appears to be installing off of an inexistent tag:

[code]

I think `1.21.2` was a typo of `1.12.1` which got renamed later but is still in effect somehow, and since 21 > 15 it installs that over `1.15.1`...

[2021-01-09 15:35] rizalgowandy commented on #127
I think this is a great addition.

[2021-01-10 03:10] xiantang commented on #127
we try to add this feature. support regex in exclude files

[2021-01-13 22:48] jim commented on #133
I ran into this on macOS today as well- using `go get` installed 1.12.1. Using the alternative install for macOS did install 1.15.1.

[2021-01-15 12:36] scratchoo opened #135 "zsh: command not found: air"
tried to installed air using both

`go get -u github.com/cosmtrek/air`

and

`curl -sSfL https://raw.githubusercontent.com/cosmtrek/air/master/install.sh | sh -s -- -b $(go env GOPATH)/bin`

then added alias air='~/.air'  to .zshrc file
sourced the .zshrc (even restarted the terminal)

then run `air -c .air.toml`

`zsh: no such file or directory: /home/mee/.air`

system: ubuntu 18.04

[2021-01-16 14:32] shadwan commented on #135
same issue, on m1 mac

[2021-01-17 04:37] rizalgowandy commented on #135
That's expected.

# binary will be $(go env GOPATH)/bin/air
`curl -sSfL https://raw.githubusercontent.com/cosmtrek/air/master/install.sh | sh -s -- -b `

Meanwhile, your alias is pointing to `~/.air`
The binary isn't there.

You should update your alias to alias air='$(go env GOPATH)/bin/.air'
or move the binary to your home directory.
`mv $(go env GOPATH)/bin/.air ~/.air`

[2021-01-17 04:41] rizalgowandy commented on #126
Pretty sure, you could.
Just use a Makefile command and replace the cmd.

[code]

Then inside your Makefile.
Create the `run-command-then-build`.

[2021-01-17 08:52] superhawk610 commented on #133
@HeCorr is right, it looks like `v1.12.2` was accidentally pushed to the tag `v1.21.2` as well, which is more recent in semver than `1.15.1`, the _actual_ latest version. Since you cannot remove a specific version from the package registry (pkg.go.dev), I believe the fix is to publish a copy of `v1.15.1` and tag it `v1.21.3`.

[2021-01-17 08:52] superhawk610 commented on #120
I ran into this same issue and realized that I was actually using an old version of `air`, double check #133 and see if that's the case for you as well.

[2021-01-17 11:23] birdycn commented on #128
me too

[2021-01-20 14:23] birdycn commented on #128
how about now?

[2021-01-22 03:25] ivandov commented on #107
This is still an issue...

[code]

[code]

[2021-01-24 17:00] NLeRoy917 commented on #135
What @rizalgowandy said ^

My binary got installed in /Users/your-username/go/bin/air

[2021-02-02 10:23] xxiaocheng opened #138 "Does not work on vscode remote WSL when project in /mnt/c/Users/*"
just like the title

[2021-02-03 13:14] krhubert opened #139 "Clear screen on rebuild"
Hi,

Do you plan to add a clear screen option? Or maybe you accept PR with such functionality?

It might look like:
[code]

[2021-02-04 15:33] regmicmahesh commented on #114
any updates?

[2021-02-06 05:30] apinprastya commented on #72
To make it work on WSL, you have to put your project inside root folder, ex: /home/{username}/golangproject

[2021-02-06 05:32] apinprastya commented on #138
I think this is the limitation of WSL, to get full feature of linux file system (file changes notifier), you have to put your project inside WSL root. Ex: /home/{yourusername}/yourgolangproject

[2021-02-15 17:47] x199010 commented on #78
source code/ runner/config.go
method binPath()
return filepath.Join(c.Root, c.Build.Bin)
to
return c.Build.Bin
(on windows)

[2021-02-17 07:52] uta-mori commented on #133
I ran into this on macOS today as well

Since go1.16, the version can be specified in go install, so the following worked for me

How can I solve this problem fundamentally?
next Release 1.21.3?

[code]

[2021-02-17 16:18] superhawk610 commented on #133
@uta-mori correct, once the repository owner publishes the corrected tag, you should be able to just use `go get` without specifying the version.

[2021-02-20 01:37] #72 closed

[2021-02-20 04:34] sujit-baniya opened #141 "Application is not being reload"
I'm trying to run app but on change it's not reloading

https://storyxpress.co/video/kld85zl4v0vjx5bls

I can't find the reason or place to debug.

[2021-02-22 10:30] tedoham commented on #135
It works for me after I removed "." -> alias air='$(go env GOPATH)/bin/air'

[2021-02-23 21:28] kiketordera commented on #141
I have exactly the same problem, does not matter which file I change, It does not reload...

[2021-02-23 23:54] sujit-baniya commented on #141
@kiketordera I figured why app is not reloading.

Reason: we put a single folder in include field. That just ask air to watch files for that folder only. I see you're also using same

https://github.com/kiketordera/advanced-performance/blob/main/.air.conf#L21

Try to make it empty and it should work

[2021-02-24 07:55] fabaff opened #142 "License statement"
Could you please mention if the code is under GPLv3-only or if "later versions" are supported as well (GPLv3+)?

Just for clarification to mention the right license for the distribution packages. Thanks.

[2021-02-24 22:07] kiketordera commented on #141
@sujit-baniya thank you very much for your feedback!

Unfortunately does not work. I tried with:

include_dir = []

I also tried with
include_dir = ["/media/css", "media/css", "."]

and also one by one, nothing works for getting the hot reload to work. I am following the exact instructions that are written in the readme.md file to run it, I an not having any luck with it. I was able to develop a m

[2021-02-25 07:19] sujit-baniya commented on #141
@kiketordera  For me this is working fine:

.air.toml
[code]

[2021-02-27 09:29] andrei-dascalu opened #143 "Apple Silicon architecture support"
Hello,

When trying to use `air` with my (pun inevitable) `macbook air` using the new M1 chip, I'm getting the following error:

[code]

I'm not sure what it would take to have a compatible install,  as from what I understand M1 compatibility would make `air` >= 1.15

[2021-02-27 22:53] nickbryan commented on #143
Yeah, I am also experiencing compatibility issues with Go 1.16. `package embed is not in GOROOT`. Would be ace to get this updated to 1.16

[2021-02-28 03:42] cosmtrek commented on #142
GPLv3+

[2021-02-28 10:19] nickbryan commented on #143
I think this is fixed in https://github.com/cosmtrek/air/pull/144 we just need a release :)

[2021-02-28 10:33] andrei-dascalu commented on #143
Awesome!

[2021-02-28 22:56] kiketordera commented on #141
I think I did not express myself correctly, or maybe I am using the tool wrongly.

I want to reload the browser page whenever my code changes. Right now, whenever a file changes, it rebuilds the Golang code, which is nice, but it does not solve my problem of need to refresh manually the page in the browser to see the changes I apply to the files.

Thanks for your support!

[2021-03-03 09:26] dbalas commented on #55
I have same easy, I just change tmp dir so no access is denied error, but same issue when ctrl + c.

[2021-03-03 14:16] SimonPrague commented on #40
So is this working? I tried to watch submodule but it did not work.

[2021-03-03 15:55] nickbryan opened #146 "Release for G0 1.16 updates?"
Hi,

I was wondering if we can get a release together for the Go 1.16 updates?

Cheers!

[2021-03-05 14:40] Dino16m commented on #125
The purpose of hot reloading is to effect code changes immediately they occur. Do you really need to live-reload your migration files?

[2021-03-06 19:24] HeCorr commented on #141
I don't think Air is the right tool for you then, as it's only job is to reload the Golang package.

[2021-03-06 20:47] HeCorr opened #147 "Process not being killed on Windows"
Hello! First of all, thank you for this awesome package  :)

Due to Air's current implementation of starting processes on Windows (with `start /b`), the PID returned by `cmd.Process.Pid` is of a process that already exited (`start`'s PID, not what it started), hence the debug error `failed to kill PID ###, error: exit status 128` is returned.

When trying to run the `TASKKILL` command manually, I

[2021-03-06 20:54] HeCorr commented on #147
This might be what we want:  https://stackoverflow.com/a/51319981

[2021-03-06 21:19] HeCorr commented on #147
I tried using `start /WAIT /B` but although Air doesn't show an error anymore when killing it, the process is still running.

[2021-03-06 22:34] HeCorr commented on #147
I figured it out! After hours of investigation!

So, it turns out there were two issues:

1. What prevented the process from being killed was indeed the lack of the `/wait` in the `start /b` call.
2. What made me think that adding `/wait` didn't fix it is that there's actually a sort of race condition where the program will end right before `e.killCmd(cmd)` has a chance to do anything, and I didn'

[2021-03-07 03:39] hyp530 opened #149 "Can share a sample config.yml for Windows?"
2021/03/07 11:32:30 [Setting] config error:  open ../config/config.yml: The system cannot find the path specified.
2021/03/07 11:32:30 [Setting] Config init success

I failed to run it on WIndows. It's asking for config.yml. Can anyone share a sample config file? Thanks in advance.

[2021-03-07 08:41] tusharsadhwani commented on #147
Hey @HeCorr, can you also verify if #122 is not an issue anymore? I haven't been using it lately. If it's not an issue i'll just close the PR.

[2021-03-07 11:03] chjiyun commented on #147
[code]

i  don't know why the main.exe~  always appears in the ./tmp

[2021-03-07 14:53] HeCorr commented on #147
@tusharsadhwani That doesn't happen in my current setup, but I do remember seeing this `C:\...\C:\...\main.exe` bug before. I'll run some tests and get back to you  :)

[2021-03-07 15:01] HeCorr commented on #147
@chjiyun That's the same error I was having (I forgot to mention it), but with Fiber. It couldn't restart as the port was still in use.

I think `main.exe~` is created by the `go build` command, when it tries to overwrite the original `main.exe` file, but it can't because it's still running, so it writes to `main.exe~` instead. (that's my guess)

If they merge my PR the issue will be fixed.

If yo

[2021-03-08 12:07] birdycn commented on #128
hello

[2021-03-08 12:33] birdycn commented on #128
Windows

The same issue occurs on gorm's log, too.

[2021-03-08 12:33] birdycn commented on #128
how about now

[2021-03-09 07:46] #142 closed

[2021-03-10 22:52] HeCorr commented on #149
Hello! First of all, which version of Air are you using?

Please make sure you're on the latest one by running `go install github.com/cosmtrek/air@v1.15.1`.

[2021-03-10 23:05] HeCorr commented on #147
@tusharsadhwani sorry for the delay. unfortunately it looks like the path issue still exists.

You can, however, get around it by using a config file.

[2021-03-11 01:40] bellwood4486 opened #150 "air fails to build when using `go install` in golang1.16"
## Summary

air fails to execute a process, when setting up with `go install`
[code]

But air works, when doing with `go get`
[code]

## How to reproduce

I made a sample to reproduce the problem.
https://github.com/bellwood4486/sample-air-error

1. Please clone the sample repository.
2. Run the following commands.
[code]

## Result

air fails to execute a process.
[code]

[2021-03-11 10:36] bpatyi commented on #113
same error on ubuntu 20.04. :/

[2021-03-13 11:06] kiketordera commented on #141
Go it thanks, can we then close this issue? So we maintain clean the repo

[2021-03-13 15:48] HeCorr commented on #150
As noted in #133, the `air@latest` tag is mistakenly being redirected to the old `1.12.1` version, instead of the actual latest, `1.15.1`, which appears to be your case.

Please change your command to `RUN go install github.com/cosmtrek/air@1.15.1` and try again.

[2021-03-13 16:16] marcosteam opened #151 "Only watch .go file change"
I'm using [gofiber/fiber](https://github.com/gofiber/fiber) to write Web Application and Air to hot reload.
But when I'm using pug to my template Engine, Air won't do anything when I change my template.

Here's my `.air.toml` config:

[code]

[2021-03-14 03:21] bellwood4486 commented on #150
Hi, @HeCorr
Thank you for your response. I have tried with the following command. air works fine!
`RUN go install github.com/cosmtrek/air@v1.15.1`

[2021-03-14 03:48] HeCorr commented on #150
great to hear!

please proceed to close the issue if you think everything is working as expected  :)

[2021-03-14 04:01] HeCorr commented on #151
Hello! Can you please run air with the `-d` flag and show the output without reloading?

It should say something like `!exclude (...)` a few times.

Also, how's your project structured? Where are the ".pug" templates stored at?

[2021-03-14 04:31] bellwood4486 commented on #150
In my opinion, it would be better to make the version up to 1.21.0 a missing number.
Because this problem will not go away until the version is 1.22.0.

What do you think about the idea of making it a missing number?

[2021-03-14 04:48] bellwood4486 commented on #150
Hi, @cosmtrek !
I hope you will consider the above comment when you put the next version.
Thank you.

[2021-03-14 04:53] #150 closed

[2021-03-14 04:57] HeCorr commented on #150
If by "missing number" you mean skipping a few versions and releasing the next one as `v1.22.0`, yeah that's what they should do

[2021-03-14 13:34] marcosteam commented on #151
Sure.

`air -d`：
[code]

And my file structure:
[code]

[2021-03-14 13:42] HeCorr commented on #151
Interesting.. It really should be working..

Btw, I noticed you are running an older version (see #133). Could you please install the latest version and try again?

Here's the command:  `go install github.com/cosmtrek/air@v1.15.1`

One last thing: I don't think it's necessary to watch the `static` folder, unless the contents are loaded only once on startup.

[2021-03-14 14:24] marcosteam commented on #151
It works! Thanks a lot!
I think we should update the documents..

[2021-03-14 14:24] #151 closed

[2021-03-14 17:57] HeCorr commented on #151
Awesome! I'm glad it worked  :)

[2021-03-17 14:32] spiffyjr commented on #40
This was working when I submitted the pull request, but no longer merges with the latest master. I'd still like to see this added because the latest master no longer works with project structure.

[2021-03-18 09:37] JovanShandro opened #152 "Exclude Dir not working"
Hi. I am using the following config file:

[code]

I have an agents folder which has a lot of files inside, and for that reason I want to exclude it.
However when I run the air command I get these logs:

[code]

Any ideas on why this could be happening?
Thank you!

[2021-03-18 10:52] #152 closed

[2021-03-18 23:37] dohq opened #153 "I want to output .air.toml from cli."
Hi.
Thank you for the great useful tool!

 it might be useful to be able to output the sample configuration file from the command.
This tool works broadly ideal even without a configuration file.
So, in the rare case that you need a configuration file,
you will need to copy and paste the file from github every time or remember which project the existing configuration file was used in.
Fortunately,

[2021-03-21 01:50] jongear commented on #150
I've also ran into issues with running the latest release of air with `golang:1.16.2`

`Dockerfile`
[code]

output
[code]

I found if I pin my `go get` to the latest commit it works fine though

[code]

[2021-03-21 01:56] jongear commented on #114
I was able to get my build to pass with `golang:1.16.2` by pinning directly to the latest commit

`go get github.com/cosmtrek/air@895210e492af4a2dc1c5286e7c4a45cc4d8452a7`

https://github.com/cosmtrek/air/pull/145#issuecomment-803498417

[2021-03-22 06:18] simonoff commented on #125
@Dino16m i have a workers - so i need a separate file for each worker?
`go run main.go workers specific_name_of_worker`

[2021-03-22 08:13] dinoonyemere commented on #125
You can load different workers as cli arguments so you can run
`go run main.go --worker=mails`

[2021-03-22 08:20] simonoff commented on #125
The main question is to how make such an argument dynamic?

On Mon, Mar 22, 2021 at 10:13 AM Darlington Onyemere <
***@***.***> wrote:

--
Best regards,
*Oleksandr Simonov CEO Amoniac OÜ*
*We build custom web applications for solving business tasks*

Skype: alex_simonov Mobile: +380981821760

[2021-03-22 08:31] dinoonyemere commented on #125
You can have different air config files. So you can have
`air -C mails.toml air -C resize.toml`
where mails.toml and resize.toml have different cmd settings.

[2021-03-22 08:33] simonoff commented on #125
I already migrated to nodemon instead as it gives possibility to set a full
command that I need.

On Mon, 22 Mar 2021 at 10:31, Darlington Onyemere ***@***.***>
wrote:

--
Best regards,
*Oleksandr Simonov CEO Amoniac OÜ*
*We build custom web applications for solving business tasks*

Skype: alex_simonov Mobile: +380981821760

[2021-03-22 08:35] Dino16m commented on #125
Okay, nodemon is good. The only problem is that it forces you to have both Golang and Nodejs runtimes.

[2021-03-22 08:37] simonoff commented on #125
For me better working functionality instead of additional requirement for
dev mode

On Mon, 22 Mar 2021 at 10:35, Dino16m ***@***.***> wrote:

--
Best regards,
*Oleksandr Simonov CEO Amoniac OÜ*
*We build custom web applications for solving business tasks*

Skype: alex_simonov Mobile: +380981821760

[2021-03-22 17:51] tomaswarynyca opened #154 "temp folder cannot be deleted when exiting"
Hi, in config file i have `clean_on_exit = true` but on exits the folder is not eliminated

[2021-03-22 17:56] #154 closed

[2021-03-26 21:37] EnzoTools commented on #147
I also encountered the same problem:
`failed to kill PID 10124, error: exit status 255`

Thank you very much for the patch you provided

[2021-03-26 22:19] EnzoTools commented on #147
**After I solved [#147](https://github.com/cosmtrek/air/issues/147) PR, [#122](https://github.com/cosmtrek/air/pull/122) the problem still exists, It needs to be fixed**

`building...
trying to kill cmd [cmd /c D:\goProject\src\GoBlog\tmp\main.exe]
cmd killed, pid: 7420
failed to remove D:\goProject\src\GoBlog\tmp\main.exe, error: remove D:\goProject\src\GoBlog\D:\goProject\src\GoBlog\tmp\main.exe

[2021-03-26 23:17] HeCorr commented on #147
Just so you know I found another panic on my PR and still gotta fix it (it happens when a build fails and a reload is triggered).

If you want me to, I can create a branch on my fork that has both issues solved, since it looks like this repo is abandoned.

[2021-03-27 05:49] tusharsadhwani commented on #147
@HeCorr sounds great, but why a separate branch? does it not work on some platform?

[2021-03-27 22:55] HeCorr commented on #147
@tusharsadhwani I gotta create a separate branch for both issues so one doesn't conflict with eachother's PRs.

This branch will be for personal use (manual patching), not for merging.

[2021-03-27 23:09] HeCorr commented on #147
Alright, I created a branch with both #122 and #147 patches.  :)

Installation steps:
`git clone -b win-fixes https://github.com/HeCorr/air`
`cd air`
`go install`

[2021-03-28 14:02] EnzoTools commented on #147
Sorry, I don't understand why you create another branch.
Is the repo deprecated?

[2021-03-28 17:50] Cian911 commented on #83
I have a similar folder structure to the original author of this issue, and I'm running into this same problem myself. The difference being that I am using the docker image found here: https://hub.docker.com/r/cosmtrek/air

The docker image has not been updated in 4 months, the `latest` version tag is still using version `1.11.1` of air. Can a maintainer please update the image available in the do

[2021-04-01 17:11] Petercopter commented on #135
Go noob here, same problem. I installed both using the installer, and also with `go get` while I was thrashing around. I wanted to keep it under version control, so I deleted the installed version and went with the `go get` method. It looks like

[code]
Works for either one?

[2021-04-03 17:44] ashep opened #155 "Version numbers mess"
Hello!

If I look at GitHub, I see that latest release is 1.15.1. If I look at version number at `air` start I see 1.12.1. Finally, if i look at `go list -m` after `go get -u github.com/cosmtrek/air`, I am getting 1.21.2. How to determine version number I've installed?

Thank you!

[2021-04-03 19:33] visoft commented on #155
v1.15.1 is the latest version, I installed with `go get -u github.com/cosmtrek/air@v1.15.1` Without the version number, you get 1.21.2 which is a typo, I believe. Hopefully it gets fixed and a new version is released soon.

[2021-04-06 12:01] visoft commented on #146
Could you please do a release? It's been over a month since this issue was opened. I really like air, but it seems like it's not maintained.

[2021-04-09 14:30] jason-costello commented on #83
Same issue.
v1.15.1 (don't see version 1.21.2 as referenced above..possible fat-finger of 1.12.2?)

my file structure:
project-dir
--cmd
----webserver
-------main.go
-------.dev.env
----internal
-------bunch-of-pkg-dirs
--.air.toml

toml config
[code]

[code]

[2021-04-11 02:30] cosmtrek commented on #155
Fixed with new release version v1.25

[2021-04-11 02:30] #155 closed

[2021-04-11 02:31] cosmtrek commented on #146
@nickbryan Thanks for your contribution!

[2021-04-11 02:31] #146 closed

[2021-04-11 02:31] #143 closed

[2021-04-11 08:31] ashep commented on #155
Thank you for the update. Nevertheless I am unable to install a new version.

[code]

[code]

[2021-04-11 11:36] tusharsadhwani commented on #102
any updates on this?

[2021-04-11 13:46] xiantang commented on #155
i released v1.26.0.
plz use  go get  -u github.com/cosmtrek/air to update

[2021-04-11 13:51] ashep commented on #155
@xiantang thank you!

[2021-04-12 08:18] makiuchi-d opened #156 "The `sh` process will be a zombie when the command was finished by itself."
Run this program by air:
[code]

air execute the `sh` as a sub process wrapping the target program `main`:
[code]

Ten seconds later, the `main` had finished and `sh` has been a zombie:
[code]

The reason is that it does not `wait` the `sh` process until the fsnotify event occurs.

[2021-04-12 20:10] c9845 opened #157 "No version number printed"
On latest air 1.26.0 release, go 1.16.3, when running `air -v` no version is printed out for `air` nor for `golang`.  Looks to be an issue with the Makefile setting the variables accordingly via `LDFLAGS` lines upon building of the release.  Tested on Windows 10, WSL, and Ubuntu 20.04.

[2021-04-22 12:53] fr3fou opened #160 "Run multiple instances"
Hi!

I want to be able to run 2 air instances / have 2 different configs (say one for running codegen and one for running my server) at the same time and have both logs combined into one output, as opposed to running it twice in different terminals. How would I achieve that?

[2021-04-22 18:17] renodesper opened #161 "Invalid latest docker tag"
The latest docker tag (cosmtrek/air:latest) is pointing into v1.11.1. Can you update it to the latest one in every new update?

[2021-04-23 14:11] cosmtrek commented on #161
Fixed with https://github.com/cosmtrek/air/pull/162

[2021-04-23 14:11] #161 closed

[2021-04-23 14:26] cosmtrek commented on #153
@dohq Seems great, could you create a pr?

[2021-04-23 14:46] cosmtrek commented on #160
I'll consider it, one possible solution is combine two configs in one command...

[2021-04-23 14:50] cosmtrek commented on #157
I'll fix it~

[2021-04-23 14:54] cosmtrek commented on #141
@kiketordera maybe it's a nine-to-have feature:)

[2021-04-23 14:56] #138 closed

[2021-04-23 14:58] #134 closed

[2021-04-23 14:58] #133 closed

[2021-04-23 15:06] #120 closed

[2021-04-23 15:08] #115 closed

[2021-04-23 15:09] #113 closed

[2021-04-23 15:10] #107 closed

[2021-04-23 15:13] cosmtrek commented on #69
supported by https://github.com/cosmtrek/air/pull/137

[2021-04-23 15:13] #69 closed

[2021-04-23 15:18] #54 closed

[2021-04-23 15:20] #37 closed

[2021-04-23 16:31] HeCorr commented on #133
He's alive! :)

[2021-04-24 00:11] cosmtrek commented on #157
Please use `curl -sSfL https://raw.githubusercontent.com/cosmtrek/air/master/install.sh | sh -s -- -b $(go env GOPATH)/bin` to install air.

[2021-04-24 05:27] xiantang commented on #147
i have a windows system now. i will check this pr

[2021-04-24 11:07] #83 closed

[2021-04-24 11:09] #153 closed

[2021-04-24 12:06] raima-zachariah opened #164 "[Security] Potential Secret Leak"
It has been noticed that while using codecov/codecov-action@v1.0.0 your token 0db72849-5eff-4630-84c2-2fa22ab43f6d is present in plaintext. Please ensure that secrets are encrypted or not passed as plain text in github workflows.

[2021-04-25 14:15] xiantang commented on #149
use `air init` . close...

[2021-04-25 14:15] #149 closed

[2021-04-25 14:25] xiantang opened #165 "[feature request] should us support other program language? like php?"
#89
#141
We have received the above questions and hope to discuss the benefits of multilingual support with the community...

[2021-04-25 14:31] xiantang commented on #157
i have  a proposal.
when we want release a version.
use `make tag v1.xx.x` to add git tag and create a file
version.txt
[code]
then add this file to version control system(git)
and use `git push origin v1.xx.x` to release this version.
when we use `air version`
just use `go embed` feature to inject version to code...

[2021-04-25 15:27] xiantang commented on #78
https://github.com/cosmtrek/air/pull/122 close

[2021-04-25 15:27] #78 closed

[2021-04-25 15:28] xiantang commented on #62
https://github.com/cosmtrek/air/pull/122 close

[2021-04-25 15:28] #62 closed

[2021-04-25 15:28] xiantang commented on #53
https://github.com/cosmtrek/air/pull/122 close

[2021-04-25 15:28] #53 closed

[2021-04-27 02:35] kindywu opened #167 "air‘s hot reboot still not work ,on win10 amd64 vscode go1.16。"
it still not work ,win10 vscode  go1.16。

building...
failed to remove D:\WS\go\demo1\tmp\main.exe, error: remove D:\WS\go\demo1\D:\WS\go\demo1\tmp\main.exe: The filename, directory name, or volume label syntax is incorrect.
running...

![image](https://user-images.githubusercontent.com/6177365/116176064-0ea15180-a744-11eb-8ae8-e4d613ccdd91.png)

![image](https://user-images.githubusercontent.com/

[2021-04-27 13:19] xiantang commented on #167
fixed.

[2021-04-27 13:20] xiantang commented on #167
i release new version now

[2021-04-27 14:04] xiantang commented on #167
![image](https://user-images.githubusercontent.com/34479567/116254908-548e0200-a7a4-11eb-8924-fe3b690eb1f2.png)
![image](https://user-images.githubusercontent.com/34479567/116255086-8010ec80-a7a4-11eb-89e3-7cfa9e992a06.png)
@kindywu
in v1.27.3 reload is fixed.. plz update air version to 1.27.3
use https://github.com/cosmtrek/air#prefer-installsh

[2021-04-27 14:04] xiantang commented on #167
close...

[2021-04-27 14:04] #167 closed

[2021-04-28 10:58] kindywu commented on #167
great!!!!

[2021-04-28 20:15] andrei-dascalu commented on #76
My setup:

Building with:
[code]

Executin with:
[code]

Having some trouble debugging in remote Docker container with VSCode myself at the moment.

[2021-04-30 08:35] andrei-dascalu commented on #165
As a PHP developer I don't quite see the benefit. What would Air do in practice? In a development environment you shouldn't need to restart servers or anything (maybe refresh browser?)

I do see the benefit of it in a modern environment like Roadrunner, but Roadrunner itself (Go-base) allows for hot-reload. Swoole also already supports it (https://www.swoole.co.uk/docs/modules/swoole-server-reload

[2021-04-30 17:31] Astrolx opened #168 "panic: listen tcp 0.0.0.0:8000: bind: address already in use"
I use macos,when I exit air then cmd air,the error was appeared

[2021-05-05 14:15] makiuchi-d commented on #129
This is a serious bug of the flag `Engine.binRunning`.

At the first time to run the process, `e.binRunning` becomes true in the func `e.runBin()`.
https://github.com/cosmtrek/air/blob/v1.27.3/runner/engine.go#L399

When the file modified, in the loop of the func `e.start()`, the message is sent to the channel `e.binStopCh` to stop the old process, and `buildRun()` is called to build and start the

[2021-05-05 14:23] xiantang commented on #129
hello. could you provide  the Minimum reproducible sample?

[2021-05-05 14:50] makiuchi-d commented on #129
main.go:
[code]

air.toml (copied from air_example.toml and made `send_interrupt` true):
[code]

start air:
[code]

watch processes:
[code]

modify file:
[code]

It can be observed that the process does not end every two times of file modification.

[2021-05-05 14:59] makiuchi-d commented on #165
How about using [arelo](https://github.com/makiuchi-d/arelo)?
It can reload any command line tool, even if that is a browser controlling script.

[2021-05-16 16:55] SuzurikawaChihiro commented on #127
@xiantang
I was in trouble because the test code was also hot reloaded
Is it okay if I do this task?

[2021-05-17 01:57] xiantang commented on #127
yeah PR is welcom！

硯川 千優 Suzurikawa ***@***.***>于2021年5月17日 周一00:55写道：

[2021-05-17 18:10] SuzurikawaChihiro commented on #127
@axiaoxin

this try it `exclude_file = ["_test.go"]`

[2021-05-19 02:18] SuzurikawaChihiro commented on #168
Me Too
![image](https://user-images.githubusercontent.com/64934951/118746818-dfd65100-b893-11eb-99cb-be4747049df6.png)

[2021-05-22 20:32] mohamedmansour commented on #50
@yanmingsohu I tried the same thing on Windows, and log prints don't output anything unless the file is being swapped.

I refreshed the page N times, then I changed `handler.go`, then all the logs were flushed. This doesn't happen in `go run .` any ideas? In the below logs, it should have said `Received: foo` BEFORE `handlers.go has changed`

[code]

[2021-05-23 10:04] mohamedmansour opened #171 "Feature Request: Add air to Window's choco package manager"
It would be nice if air can live in choco, which is the most popular package manager in Windows. Users would just have to do:
[code]

This is how you can create a package that automatically gets upgraded:
https://docs.chocolatey.org/en-us/create/automatic-packages

An example package that does similar is golang (expand files):
https://community.chocolatey.org/packages/golang#files

The author of g

[2021-05-30 14:23] tmstn opened #173 "Watch directories with names starting with dot (.)"
How can I configure air to watch sub directories whose names start with a dot? It seems to ignore a changes made in these directories completely. I've tried adding the sub directories to the list of included directories but this doesn't help.

[2021-05-31 06:54] SuzurikawaChihiro commented on #173
It is only added when isIn and walkDir are true.
Whenever I put something in incloud_dir, isIn becomes false.
Is this a specification?

![image](https://user-images.githubusercontent.com/64934951/120152193-275fc400-c228-11eb-9aeb-be609a30fe9e.png)

[2021-06-02 05:54] RajivSah commented on #168
me too +1

[2021-06-06 15:30] makiuchi-d commented on #173
As far as reading the source code, there is no way to watch hidden directories that start with ".".
In [/runner/engine.go](/cosmtrek/air/blob/master/runner/engine.go),  it is checked by `isHiddenDirectory()` before adding directory to the watcher.

Please try [arelo](/makiuchi-d/arelo) if you like.
It supports hidden directory watching.

[2021-06-07 09:05] tmstn commented on #173
Thanks for your help. I am happy with air for now so I have decided to change the directory structure and not use hidden directories. It would be very useful if air could add a flag to watch hidden directories in the future :+1:

[2021-06-07 09:05] #173 closed

[2021-06-12 09:02] #165 closed

[2021-06-25 05:08] mkamadeus opened #175 "bug: Can't watch in directories that have spaces in path"
# What?
I've used air in Windows 10. Works very well, until I tried to run air via WSL. Based on the error message, I deduced that in Linux based systems space are not escaped properly.

# Reproduction
## On Windows (works well)
My path to project: `D:\xxx\something with space\project\main.go`
When running `air`, it works as expected (watches and recompiles)

## On WSL (didn't work)
Used Ubuntu fo

[2021-06-28 14:09] #147 closed

[2021-06-29 10:36] ocavue opened #176 "follow_symlink doesn't work as expected"
I enabled `follow_symlink` in `.air.toml` but it doesn't work. `./vendor/github.com/xxxxx/api-common` is a symlink point to `/Users/ocavue/go/src/github.com/xxxxx/api-common` but `air` doesn't watch it.

My shell output:

[code]

[code]

My `.air.toml`:

[code]

[2021-06-29 20:35] ryanolds-drizly commented on #129
I've seen similar issues, but its not reloading because there is a race condition when two builds fail after a successful build and run. Its possible for `e.binStopCh <- true` to block and hold the lock. This prevents `e.binRunning = false` in the other lock from bring run because its waiting for the mutex, resulting in a dead lock.

[2021-06-30 02:49] win5do opened #178 "Use command line flags without config file as alternatives."
The command line is more concise for simple scenarios.

Like this:
[code]

[2021-06-30 10:16] xiantang commented on #178
doing now

[2021-06-30 10:16] xiantang commented on #178
we will translate the toml to cmd

[2021-07-03 15:35] andodeki commented on #58
how can I load an env file to be used with the binary??

[2021-07-04 12:12] xiantang commented on #178
https://github.com/cosmtrek/air/pull/180/files WIP now

[2021-07-04 14:40] xiantang commented on #135
this one is the solution. close...

[2021-07-04 14:40] #135 closed

[2021-07-05 02:36] zyxlcr commented on #168
me too +1
use mac

[2021-07-07 17:13] jherman opened #181 "Adding flags to compiled binary adds .exe to the end"
In a Windows environment, using the following in the `toml` file:

`bin = "tmp\\main.exe --read-envar-file=envar.yaml"`

results in error because air is adding .exe at the very end.

I don't believe it should be doing this. It should be the responsibility of the user to make sure their bin is proper.

[2021-07-07 17:14] jherman opened #182 "Feature Request: Add an envirnoment variable section for Air to add them in"
Would be super useful so this would work across different OS platforms.

[2021-07-08 15:33] winston0410 commented on #168
Same issue as well, even I have set `send_interrupt = true`

[2021-07-09 06:45] goto404 commented on #55
这个问题解决了吗？我的windows10也是这样的

[code]

http服务一直在运行。文件修改后，日志显示：会重新编译，但在run的时候显示端口被占用。

应该是在终止前一个程序的进程时终止失败了，删除tmp目录也失败了，导致后面编译再跑时端口被占用，无法再次跑起来

[2021-07-09 12:37] c2rad commented on #168
Seems like I found a workaround by setting kill_delay to 0.  Anecdotally, I think you need to restart air to get it to read in config changes.
[code]

[2021-07-10 13:02] makiuchi-d commented on #168
Air's process management  is incomplete, and in rare cases sub-processes cannot be stopped.
The `send_interrupt` is not working as in the issue #129.

Please try [arelo](/makiuchi-d/arelo). It may work fine.

[2021-07-10 13:28] jasonbronson commented on #160
@fr3fou could you use a bash script to run the two different air instances into a log file then tail that log file as a single instance?

[2021-07-11 03:36] xiantang commented on #127
exclude_file = ["_test.go"]

[2021-07-11 03:36] xiantang commented on #127
close ...

[2021-07-11 03:36] #127 closed

[2021-07-13 17:16] makiuchi-d opened #183 "Air and command process did not stop by Ctrl+C in the building phase."
Air closes a channel `e.exitCh` when SIGINT is caught ([main.go:65](/cosmtrek/air/blob/bedc18201271882c2be66d216d0e1a275b526ec4/main.go#L65)).
Then `e.start()` returns ([engine.go:306](/cosmtrek/air/blob/bedc18201271882c2be66d216d0e1a275b526ec4/runner/engine.go#L306)) and `e.cleanup()` is called ([engine.go:91](/cosmtrek/air/blob/bedc18201271882c2be66d216d0e1a275b526ec4/runner/engine.go#L91)).

In

[2021-07-13 17:20] makiuchi-d commented on #183
This could be related to #55 and #168

[2021-07-13 17:24] makiuchi-d commented on #55
Air's process (and goroutine) handling is too complex to work well.
Please try [arelo](/makiuchi-d/arelo) if you like.

[2021-07-17 10:19] makiuchi-d commented on #181
You should probably use `full_bin` in the `toml` for that use case.
Abominably, `full_bin` is also added `.exe`.

There is a workaround:
[code]

This string is passed to the command `cmd.exe /C `, and `cmd` does not execute the string after a newline
(the string after newline which is `rem .exe` is a comment line, so it has no effect if it is executed).

[2021-07-21 15:30] jacksontong commented on #175
same issue on linux

[2021-07-22 15:30] makiuchi-d commented on #175
My PR (#179) also fixes this issue on Linux!

[2021-07-23 02:05] wandercn commented on #106
hotbuild.ffactory.org

[2021-07-23 02:06] wandercn commented on #175
hotbuild.ffactory.org

[2021-07-23 02:07] wandercn commented on #181
hotbuild.ffactory.org

[2021-07-24 17:01] vishal-wadhwa opened #184 "Re-build is not triggered at times with exclude_unchanged=true"
## Description
When an entire file is overwritten, it triggers a WRITE event. The contents
of the file may however be unchanged.

If there are multiple such files for which WRITE event is fired but content of
only one of those files has changed, in such a case, `air` does not trigger a
re-build if the contents of the file of first event is unchanged.

This happens because after the first event all

[2021-07-24 17:06] vishal-wadhwa commented on #184
@xiantang  @cosmtrek  Kindly look into this.

[2021-07-24 17:07] xiantang commented on #184
ok

On Sun, Jul 25, 2021 at 01:07 Vishal Wadhwa ***@***.***>
wrote:

[2021-07-25 14:17] nielskrijger opened #186 "How to run `<env=var> <bin> <cmd>` ?"
This might sound silly, but I've been struggling to set both an ENV variable and specify a command on the executable.

This:

[code]

...works by running the myapp bin with the `serve`-command.

And this:

[code]

...works by running the myapp bin with the env var.

Now I want to get both of best worlds, and initially I figured this would work:

[code]

But alas, that simply runs the app without t

[2021-07-25 16:48] makiuchi-d commented on #186
It might be resolved by #180 (I'm not sure if it will be completed).

Or, try [arelo](https://github.com/makiuchi-d/arelo):
[code]

[2021-07-28 09:04] seyoatda opened #187 "how to start go process with sudo ?"
I added `sudo` in the `full_bin` param like :`sudo go run ./tmp/main` ，but when start `air`, it requires to enter the password, but it's non-interactive, I tried `sudo air` , but air failed to start with `failed to watching xxx, error: no space left on device`, I'm sure there is enough space left on the device

[2021-07-28 09:17] #187 closed

[2021-07-28 09:18] seyoatda commented on #187
this error seems related to `inotify` linux module. can just use `sudo air` to have a sudo privilege.

[2021-07-30 06:46] student-101 opened #188 "How could I execute command after running executable file?"
I'm developing web application with [gin](https://github.com/gin-gonic/gin) and [realize](https://github.com/oxequa/realize).
I want to use air instead of realize, but I don't know how to execute command after server has started.

I tried to use Makefile, but it failed because next command is waiting for server stopping.

[2021-08-11 09:02] lansi951 commented on #183
Temporary solution:
https://github.com/cosmtrek/air/blob/bedc18201271882c2be66d216d0e1a275b526ec4/runner/engine.go#L460-L464
to
`e.binStopCh <- true`

I think excute `runBin()` after binary completly stop instead of use `kill_delay` to properly solve this problem.

[2021-08-13 15:18] slaveofcode commented on #58
I could make the binary works without env library (`godotenv`) by adding `; <your command>` at the the `bin` part

because my env is placed at `.env` file, so in my case it would like this
[code]

With your case, it might look like this. (`full_bin` removed)

[code]

[2021-08-18 04:16] jtsorlinis commented on #171
How is that any easier to just running "go get -u github.com/cosmtrek/air"?

[2021-08-18 04:33] mohamedmansour commented on #171
It is because it is a package manager, which we can do mass updates instead of managing the updates manually when a security fix goes in or something. Similar to apt install

[2021-08-20 04:46] SuzurikawaChihiro commented on #188
@student-101
日本人でしたので日本語で書きますね
この質問はローカルのDocker環境でairの動かし方が分からないと言うことですか？

そう言うことでしたら、こちらの記事のDockerfileを真似てやってみてください👍
https://blog.zuckey17.org/entry/golang-gin-air

[2021-08-20 09:56] student-101 commented on #188
@SuzurikawaChihiro
返信ありがとうございます。
同じホットリロードライブラリのrealizeではafterというパラメータを指定でき、それと同じ機能がairにないかと探していました。
それを指定すると、リビルド＆実行が終わった後に処理を挟み込めます。

[2021-08-21 14:47] rwngallego commented on #58
It actually works well with `full_bin` like:

[code]

I imagine if `full_bin` is present then `bin` is not taken into account, which is fine.

[2021-08-23 04:04] Akkadius opened #189 "[Panic] github.com/cosmtrek/air/runner.(*Engine).cacheFileChecksums"
When a go file changes under Windows; we get a panic

[code]

[2021-08-24 02:16] coolnalu commented on #143
Followed this article and fixed the issue. https://kecci.medium.com/docker-comstrek-air-not-supported-linux-arm64-in-golang-with-macbook-m1-solved-f7997bd54ee

[2021-08-31 14:23] hihaha99 opened #190 "Windows file changes are not captured when dockerized"
The changes made on windows are reflected inside the docker container via volumes but not capture by Air. Editing the file directly inside the docker will trigger rebuild, changes reflected on windows side also.

[2021-09-07 12:41] xEtarusx commented on #190
Got the same issue. When editing files with Goland on Windows it does not trigger the rebuild.
Any ideas on how to solve this problem?

[2021-09-10 08:25] EddyLee1010 opened #191 "怎么使用go run 之后的参数"
例如：不用air的时候，go build   .  mian.exe -c a.conf
但是使用air的时候，这个 -c a.conf 应该写在哪里

[2021-09-11 06:43] makiuchi-d commented on #190
If you are running the docker engine on the WSL2, this behavior is due to the WSL2 limitation.
inotify filesystem events are not propagated between WSL2 and Windows.
https://github.com/microsoft/WSL/issues/4739

You can avoid inotify problem by environment variable `CHOKIDAR_USEPOLLING=true`, but it may cause performance problem.

[2021-09-11 08:06] hihaha99 commented on #190
Thanks, that's the source I think.

CHOKIDAR is for nodejs from what I searched. Any solution for go?

[2021-09-11 15:02] makiuchi-d commented on #190
ah... sorry, air uses fsnotify, not chokidar.
as far as i know, air (and fsnotify) does not implement polling fallback.
so it seems that this problem cannot be avoided.

[2021-09-14 09:00] iangregsondev opened #194 "difference between bin vs full_bin in config ?"
Hi,

I need to pass in some parameters, it seems I can use either bin or full_bin ?

So I am confused, if I use full_bin, then there is no point in using bin ?

[code]

Maybe I overlooked something but is it either 1 or the other ?

If that's the case, why do 2 config types exist ? If you can pass arguments to bin then why do I need to use full_bin.

Just interested..

Thanks in advance

[2021-09-17 04:21] makiuchi-d commented on #194
According to the commit log, full_bin was introduced for the issue #28.

[2021-09-24 06:38] endingman opened #196 "Is it suport for windows file change detection from vagrant ubuntu"
I change file in windows,but my peoject is running in vagrant。
Is it suport for that?

[2021-10-02 19:38] CRYBOII commented on #190
Can anyone  solve this problem ?

[2021-10-04 18:49] NikosDevPhp commented on #190
We are still waiting for WSL solution. Until then:

Put your Project from Windows to `\\wsl$` -> {Your Distro} -> /home -> {username} / {[project_path} and NOT in /mnt/c/Users/...

Then Open the first location (\\wsl$ from VSCode or editor of your choice). Save will now send the notification of the changed file

NTFS vs linux fs issue

[2021-10-05 14:31] CRYBOII commented on #190
I can't find \\wsl$

[2021-10-13 17:53] iqbaldp78 opened #197 "only watch file in root folder"
i have project directory like this :

[code]

my ```.air.toml```
[code]

when try to save .env file its reload as well, but when i try to save main.go file under dir cmd/app/main.go . does not work ..

can someone help me ??

[2021-10-15 22:41] macedo opened #198 "is it possible run air on linux/arm64"
I'm getting `cosmtrek/air crit platform linux/arm64 is not supported.  Make sure this script is up-to-date and file request at https://github.com/cosmtrek/air/issues/new` when I try to install air on my raspberry.

Is there something that can be done to achieve air running on a linux/arm64?

[2021-10-22 08:14] crhuber opened #200 "Command line arguments not accepted"
normally the way i would run my golang project would be

`go run main.go serve`

How can I get air to work like this?

[2021-10-22 13:40] #200 closed, assigned to nobody

[2021-10-27 18:32] jsfag opened #201 "How to suppress stdout from 'air'?"
It's freaking annoying:

<img width="525" alt="image" src="https://user-images.githubusercontent.com/3107471/139125918-6ae04297-0581-4d63-9800-b58ed375ac1a.png">

[2021-11-08 23:44] brunocascio commented on #198
Same issue here :D

[2021-11-09 00:13] bartek commented on #198
This might be as simple as adding the relevant Platforms to the [case statement within install.sh](https://github.com/cosmtrek/air/blob/master/install.sh#L64). I can confirm that `air` runs fine on my Pi

Notably, my Pi's Platform reports `linux/armv7` so there might be a few cases to cover.

[2021-11-11 05:03] shuntagami commented on #198
Maybe fixed by https://github.com/cosmtrek/air/pull/204

[2021-11-11 05:19] xiantang commented on #198
merged

[2021-11-11 05:19] #198 closed

[2021-11-12 01:33] Shirtiny commented on #128
Windows，
me too

[2021-11-13 17:17] PumpkinSeed opened #205 "Version update required to 1.17"
It would be nice to have go 1.17 in the container.

Also a feature idea that it would be nice if we can add version tag in the air.toml and flexible use that version. This will make it easier to use newer versions.

[2021-11-17 09:55] silverwind commented on #201
It'd be nice to be able to selectively suppress stuff like the `watching <something>` lines. On big projects, it spams the terminal with hundrets of useless lines which is rather annoying.

[2021-11-19 13:06] wirekang opened #207 "CLI arguments bug in windows"
.air.toml
[code]

main.go
[code]

[2021-11-19 15:19] cozzbie commented on #197
Interesting. The reverse here is the case for me. Air does not track root changes but does quite fine once files are in a sub directory.

[2021-11-21 08:24] #191 closed

[2021-11-21 08:27] xiantang commented on #207
we need more infomation

[2021-11-21 08:28] xiantang commented on #207
could u provide some error log?

[2021-11-21 08:50] wirekang commented on #207
The bug is very simple. If you pass any command line arguments by air, the last argument is changed with suffix **.exe**

Examples: (assume binary file name is out.exe)
| .air.toml | os.Args |
|---|---|
| bin = "out.exe -arg" | [-arg.exe] |
| bin = "out.exe -arg1 -arg2" | [-arg1 -arg2.exe] |

[2021-11-21 09:36] xiantang commented on #194
https://github.com/cosmtrek/air/pull/208 update sample config

[2021-11-21 09:36] #194 closed

[2021-11-21 09:55] xiantang commented on #186
seems you can just define `full_bin = "ENV=dev ./myapp serve"`, and remove bin.
it is work in my side
![image](https://user-images.githubusercontent.com/34479567/142757388-4d16753b-10a5-4905-bcc5-f9c85b4dced4.png)

![image](https://user-images.githubusercontent.com/34479567/142757394-278274da-a14c-4c36-b0cb-27ee37edb515.png)

![image](https://user-images.githubusercontent.com/34479567/142757403-ae

[2021-11-21 09:55] #186 closed

[2021-11-21 09:55] xiantang commented on #207
ok let me check

[2021-11-21 10:08] xiantang commented on #189
fixed in  https://github.com/cosmtrek/air/pull/209

[2021-11-21 10:08] #189 closed

[2021-11-23 13:22] #139 closed

[2021-11-23 15:00] #102 closed

[2021-11-23 15:55] xiantang commented on #164
thank u.

[2021-11-23 15:55] #164 closed

[2021-11-24 14:31] #184 closed

[2021-11-24 16:30] xiantang commented on #168
for mac. I have released 1.27.5 for this. can try it

[2021-11-24 16:30] #168 closed

[2021-11-25 03:06] guojunhao118 opened #216 "port address already in use"
![WX20211125-105752](https://user-images.githubusercontent.com/21166467/143372710-d67c1e31-0ce1-448d-b63d-e22e9a826563.png)
I get this problem in version 1.27.5,and i use mac,how can i to solve this?

[2021-11-25 03:58] xiantang commented on #216
could u provide the exmaple that i can reproduce

[2021-11-25 05:19] xiantang commented on #216
you can try 1.27.6

[2021-11-25 12:44] marekmartins commented on #216
I have exactly the same problem using it under WSL2 in Win11. Problem started with version 1.27.5. Also 1.27.6 is affected aswell.

For reproducing dummy HTTP server:
`
package main

import (
	"log"
	"net/http"
)

func main() {
	log.Fatal(http.ListenAndServe(":8080", nil))
}
`
![image](https://user-images.githubusercontent.com/55179666/143444181-d32ab6c8-8a38-4cd4-9af7-0d2e5292fba0.png)

[2021-11-26 01:16] xiantang commented on #216
could u use air -d and provide log？

marekmartins ***@***.***>于2021年11月25日 周四20:45写道：

[2021-11-26 03:36] marekmartins commented on #216
Sure
[code]

[2021-11-26 14:58] xiantang commented on #216
I have a windows device, i will reproduce this issue, thanks! @marekmartins

[2021-11-26 15:47] xiantang commented on #216
which subsystem did u use. I have use ubuntu to try to reproduce this issue but works good. @marekmartins

[2021-11-26 15:51] xiantang commented on #216
![1637941783(1)](https://user-images.githubusercontent.com/34479567/143605521-643a3fc8-ee6c-4115-ad0d-755e550b72d2.png)
windows
![image](https://user-images.githubusercontent.com/34479567/143605675-fccd6792-38cd-4986-aa6d-c1a2431ffd3a.png)
ubuntu

[2021-11-26 17:53] marekmartins commented on #216
Ubuntu, are You using WSL2? Version 2 is important :)

In powershell:
![image](https://user-images.githubusercontent.com/55179666/143617250-5ac00a1d-2254-4525-9409-20925ea0caa2.png)

[2021-11-26 21:23] Kaporos opened #217 "Air failed to kill with PID"
Hi everyone ! I tried to setup air and echo together, but air is not able to kill old process before spawning new one

I'm using linux/amd64 , and go version 1.17.3

running process pid 68038

⇨ http server started on [::]:1212
event: "/home/theo/GolandProjects/testProject/main.go~": CREATE
event: "/home/theo/GolandProjects/testProject/main.go": WRITE
main.go has changed
event: "/home/theo/GolandP

[2021-11-26 21:24] Kaporos commented on #217
`
hello

`

[2021-11-26 21:25] Kaporos commented on #217
(I'm using Jetbrains Goland to edit files, idk if it can change something)

[2021-11-26 21:31] Kaporos commented on #217
I checked, air is detecting the good pid when running process for the first time

[2021-11-27 05:52] #217 closed

[2021-11-27 05:54] xiantang commented on #216
https://github.com/cosmtrek/air/pull/218 can try this version, I will release a new tag

[2021-11-27 05:56] xiantang commented on #216
https://github.com/cosmtrek/air/releases/tag/v1.27.7

[2021-11-27 09:34] marekmartins commented on #216
Slightly output changed, but still port is not released by the moment it tries to run new process.
[code]

[2021-11-27 10:02] xiantang commented on #216
![image](https://user-images.githubusercontent.com/34479567/143676750-271b25c6-92ea-4365-af25-df3d0a6b950b.png)
thank u , I can reproduce now!!!

[2021-11-27 10:02] xiantang commented on #216
![image](https://user-images.githubusercontent.com/34479567/143676768-52fcc8b7-1394-4b97-b6fd-b1c2201de503.png)
i can reproduce now. thanks

[2021-11-27 14:41] xiantang commented on #216
@marekmartins  all in all, in macOS use `(p *Process) Kill()` can kill process and it's child process, but in linux( like ubuntu) use this function will just kill target process, it won't kill child process.
I find a solution https://stackoverflow.com/questions/22470193/why-wont-go-kill-a-child-process-correctly use kill pgid will correct kill process and it's child.
I have written a PR and work g

[2021-11-27 14:43] xiantang commented on #216
https://github.com/cosmtrek/air/pull/219/files

[2021-11-27 17:19] marekmartins commented on #216
Tested, looks good for me aswell now! Good job!

[2021-11-28 04:30] xiantang commented on #216
thanks closing

[2021-11-28 06:16] atreya2011 commented on #141
@cosmtrek Does implementing a browser reload feature a breaking change? If not, perhaps this repo can serve as a base for implementing this feature. I can try contributing if you are ok with it!
https://github.com/markvincze/golang-reload-browser

[2021-11-28 08:48] xiantang commented on #141
it not breaking change. PR is welcome!

[2021-11-28 11:36] atreya2011 commented on #141
@xiantang Thank you 🙏🏼 Will start working on it 🙇🏼‍♂️

[2021-11-30 07:13] marekmartins commented on #216
there seems to be still one case what is broken and worked with version 1.27.4

if You want to use `dlv` for debugging with `air` like this - `.air.toml`:
[code]

Then seems that it perfectly kills `dlv` process, but not anymore `go` process executed by `dlv`

[code]
I can open new issue aswell

[2021-11-30 07:38] xiantang commented on #216
just reopen this issue.

[2021-11-30 07:39] xiantang commented on #216
@marekmartins  I will try this in local and reproduce it.

[2021-12-01 11:31] tahsinature commented on #216
Use these values in `.air.toml`. It worked for me.

[code]

Rest of things will be as it is.

[2021-12-01 11:40] marekmartins commented on #216
@tahsinature are You using version `1.27.8`? For me playing with those values does not help, same problem. :(

[2021-12-01 11:43] tahsinature commented on #216
I am using version `1.17.2`
![image](https://user-images.githubusercontent.com/41298152/144228524-d6471529-a4f3-495d-b1e2-f16520404763.png)

[2021-12-01 11:44] marekmartins commented on #216
This problem exists only with versions `>=1.27.5`

[2021-12-01 14:45] xiantang commented on #216
seems 1.17.2 is golang version.
I will try to fix this issue the weekend. because working day is too busy to do opensouce.

[2021-12-04 08:37] fakery2009 commented on #207
Hello, I have the same problem. Is there any solution?

[2021-12-04 09:17] xiantang commented on #207
I have raised a PR

[2021-12-04 09:21] fakery2009 commented on #207
ok,thinks

[2021-12-04 09:29] #207 closed

[2021-12-06 15:47] Black-Cat commented on #50
Seems to be fixed by pr #214

[2021-12-17 07:51] marekmartins commented on #216
any news?

[2021-12-17 13:59] dhruvsaraiya commented on #50
When can I expect new release with this fix?

Facing similar issue in macOs with docker-compose

[2021-12-18 07:22] knightswatch3 opened #232 "Why do I keep receiving this error for hot reloads inside contianers ?"
/bin/sh: /home/go-component/tmp/main: Text file busy

I understand what the error means but isn't it what AIR should be supposed to help me out with ?

How do I get rid of these errors ?

[2021-12-20 19:27] IanVS commented on #141
Thanks @atreya2011!  When I read that this package is for "live-reload" of golang projects, I was excited and expected the browser to automatically refresh.  Maybe I had a different understanding of the phrase, coming from a front-end developer perspective.  Either way, rebuilding and restarting the server is a big help in-and-of-itself.  With live-reload, it will be 🤌.

[2021-12-22 03:17] CoolersCoder commented on #190
@CRYBOII  works for me
The idea is enable WSL2 in your windows system, and install any Linux system such as Ubuntu.
1. wsl --set-version Ubuntu 2
2. Refresh docker setting -> Resouces -> WSL INTEGRATION -> enable Ubuntu
3. open terminal and type wsl
4. cp -r /mnt/c/Users/XXXX/projectname  ~/
5. code .
6. docker-compose up --build

[2021-12-22 03:19] CoolersCoder commented on #190
wsl --set-version Ubuntu 2
Refresh docker setting -> Resouces -> WSL INTEGRATION -> enable Ubuntu
open terminal and type wsl
cp -r /mnt/c/Users/XXXX/projectname ~/
code .
docker-compose up --build

Thanks for sharing info, I get more details to resolve windows system docker issue.
The idea is enable WSL2 in your windows system, and install any Linux system such as Ubuntu.

wsl --set-version Ubuntu

[2021-12-23 12:56] hihaha99 commented on #190
Can confirm this works. Thank you!

[2021-12-26 08:30] DeniskaAbr opened #234 "Please add parameter for send builded app to display in multimonitor systems"
I am using Air for build game with Ebiten, and I`am having two monitors. Default after build app open in main first monitor.
Usefully if Air send forced display id parameter  to open application.

[2021-12-28 22:28] adamgotterer commented on #232
I'm having the same issue inside docker

[2022-01-04 03:02] crokobit opened #238 "Exclude a folder but include a subfolder of that folder"
Hi all,

I want to debug a package and I will run 'go mod vendor' to make /vendor has the packages I use. I want to debug one of them and I want to have this hot load feature. If it possible to exclude vendor/ but include vendor/some_pkg in .ari.toml config ?

Many Thanks.

[2022-01-05 09:35] denialanderror commented on #216
Any progress on this? Air just won't work at all with dlv at the moment, which is pretty much my whole dev environment.

[2022-01-06 10:24] fncolon opened #239 "[BUG] Cannot process argument"
https://github.com/cosmtrek/air/issues/200#issuecomment-949600947

This is not working anymore when i tried to run with cobra `go run main.go server`

[code]

MINGW64_NT-10.0-19042 LAPTOP-SVES91R4 3.1.7-340.x86_64 2021-10-12 16:29 UTC x86_64 Msys
Bash on Windows

[2022-01-07 02:54] fncolon commented on #239
After investigation look like it's adding an .exe in the string :)

[2022-01-07 03:37] fncolon commented on #239
Solved using https://github.com/wandercn/hotbuild/

[2022-01-07 03:37] #239 closed

[2022-01-11 03:46] stevegore commented on #216
My workaround at the moment is to kill all the stales processes as part of the `full_bin` command.

Assuming your built binary is `/tmp/main`

[code]

[2022-01-11 12:07] #205 closed

[2022-01-11 16:33] RakNoel commented on #216
*BUMP*
Issue seems to be with `send_interrupt = true`

Without any modifications to `air.conf`, on some reloads it seems not to kill the outstanding process on the machine at all, before reloading as `ps -ae | grep main.air` shows a long list of duplicated processes.

Changing to `send_interrupt = false` seems to fix the issue for me

[code]

[2022-01-11 16:41] RakNoel commented on #216
Looking at https://github.com/cosmtrek/air/commit/2cf5ad52c0bc422dff3506f6ce49be5803d31b0c it seems to be getting fixed soon

[2022-01-13 16:44] davidedpg10 commented on #154
I know this has been closed for a while, but I am experiencing the same issue. Did you ever find a solution for it?

[2022-01-13 17:13] davidedpg10 commented on #154
I should clarify. Running it in a docker container, so when it's left behind I cannot delete the folder from my host machine because it's technically owned by a container

[2022-01-20 05:31] rodneysantos commented on #57
I'm also wondering if this is possible. For now, I've created multiple .air.toml files that reside within each microservice directory and then run `./air -c ./api/.air.toml` and `./air -c ./svr/service1/.air.toml`.

I don't know if there's any better way than this, but I'll leave this here for those looking for a workaround/solution.

[code]

[2022-01-22 14:10] williambao commented on #216
这个问题在mac下一直存在，当更新代码后，经常性的弹 "panic: listen tcp :9000: bind: address already in use"。
有时候连续保存代码10来次后才能正常重新启动

[2022-01-22 14:26] xiantang opened #241 "cannot kill process when using dlv"
there seems to be still one case what is broken and worked with version 1.27.4

if You want to use dlv for debugging with air, for example using .air.toml like this:

[build]
cmd = "go build -gcflags='all=-N -l' -o ./tmp/main ."
full_bin = "dlv exec --accept-multiclient --log --headless --continue --listen :2345 --api-version 2 ./tmp/main"
Then seems that it perfectly kills dlv process, but not an

[2022-01-22 14:30] xiantang commented on #216
Could u provide a example which can stable reproduce?

[2022-01-22 15:12] xiantang commented on #241
[code]

[2022-01-25 01:44] imperiutx opened #245 "undefined: os.ReadFile"
Hi air team, I've used air for a while with no problem. But recently, I've received these strange log which make my service can not run like usual in local environment.

myservice-api     | go: finding golang.org/x/sys latest
myservice-api     | go: finding github.com/mitchellh/go-ps v1.0.0
myservice-api     | # github.com/cosmtrek/air/runner
myservice-api     | ../pkg/mod/github.com/cosmtrek/air@

[2022-01-25 01:53] xiantang commented on #245
bcs ur go version is too low to support air. plz, make sure ur go version is higher than 1.17

[2022-01-25 07:44] #245 closed

[2022-01-25 07:45] imperiutx commented on #245
I upgraded Go version to 1.17 then my service can run like usual. Thanks @xiantang very much

[2022-01-25 12:18] muyehub opened #246 "Package go-ps FindProcess func return nil, nil"
OS: Mac

File: util_darwin.go

Error:
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x28 pc=0x1111110]

Reason: package go-ps func FindProcess return nil, nil

Solve:
![image](https://user-images.githubusercontent.com/3871604/150975624-3f185b8b-557b-4fe7-b09f-89a84af4d181.png)

Why?

[2022-01-25 12:48] xiantang commented on #246
let me take a look

[2022-01-25 12:52] xiantang commented on #246
seems not check error. let me fix this bug

[2022-01-25 19:27] Nekitosss commented on #216
Issue still persists for combination with dlv.
macOS 12.0.1
Air 1.27.10, built with Go 1.17.6

I am using Air inside docker image. @stevegore's workaround fixes the issue

[2022-01-26 03:44] xiantang commented on #216
could provide more infomation like air config?

[2022-01-26 08:39] taman9333 commented on #216
Issue still persists on my mac
Air 1.27.10, built with Go 1.17

here is my air config

[code]

[2022-01-26 08:39] taman9333 commented on #216
@xiantang  Issue still persists on my mac
Air 1.27.10, built with Go 1.17

here is my air config

[code]

[2022-02-01 15:50] mrsufgi commented on #94
happening for me too, but off by two (2), Mac M1pro within a docker container with dlv

[2022-02-01 20:14] nwadams commented on #216
I am able to reproduce this issue consistently when I make many changes close together. What I am seeing in the logs is multiple concurrent builds where the second one ends up with the port in use error. Is there a way to make sure an ongoing build is killed before a new one starts? As well as potentially killing all processes? That, to me would resolve the issue, or at least mitigate it in a way

[2022-02-02 05:46] CanRau opened #249 "Can't get excluding files and dirs via regex working"
I've got files & folders with `.ignored.` in the name or ending in `.ignored`

I tried all of the following to exclude them

[code]

Tried the first regex via [Go Playground](https://go.dev/play/p/59ben6h4k-F)

Still showing `watching data.ignored/db` etc. only working seems `!exclude tmp`

I actually expected it to just work using

[code]

<details>
<summary>complete .air.toml</summary>

[code]
<

[2022-02-08 01:39] Mikaelemmmm opened #250 "no watch go code"
cosmtrek/air@latest ,  It has been working before. Today, open the code and modify it. You can't listen.

.air.toml:

root = "."
tmp_dir = "tmp"

[build]
cmd = "go build -o ./tmp/main ."
bin = "tmp/main"
full_bin = "APP_ENV=dev APP_USER=air ./tmp/main"

include_ext = ["go", "tpl", "tmpl", "html"]
exclude_dir = ["assets", "tmp", "vendor", "frontend/node_modules"]
include_dir = []
exclude_file = []

[2022-02-08 03:45] Mikaelemmmm commented on #250
sorry  , it's my problem

[2022-02-08 03:45] #250 closed

[2022-02-12 12:15] alexksg commented on #216
any solution to this ?

[2022-02-22 07:39] nwadams commented on #232
@palakoti0312 @adamgotterer do you see this error as being related to having multiple builds happening concurrently and multiple processes starting? https://github.com/cosmtrek/air/issues/216#issuecomment-1027245136

[2022-02-22 15:21] xiantang commented on #94
fixed in v1.29.0

[2022-02-22 15:21] #94 closed

[2022-02-22 19:16] adamgotterer commented on #232
I'm really not positive what the issue is. My gut says it's some sort of file contention issue where the OS, Air, or Docker isn't freeing up access fast enough. But I haven't had a chance to dig in any deeper since I filed this ticket.

[2022-02-27 16:08] KoduIsGreat opened #258 "[bug] air command cannot find .air.toml"
$ ls -l
total 13
-rw-r--r-- 1 aashe 197609  662 Feb 27 11:02 dev.air.toml
-rw-r--r-- 1 aashe 197609  169 Feb 27 10:37 go.mod
-rw-r--r-- 1 aashe 197609 1859 Feb 27 10:37 go.sum
-rw-r--r-- 1 aashe 197609  864 Feb 27 10:45 main.go

---
$ air -c dev.air.toml

  __    _   ___
 / /\  | | | |_)
/_/--\ |_| |_| \_ , built with Go

mkdir C:\Repositories\casserole-memes\tmp
watching .
!exclude tmp
building..

[2022-03-08 05:48] maliyan commented on #76
嗯，看你标记的位置是广州，那，我就直接敲汉字吧。我也是在找dlv的最佳实践，然后找到了这里，确切的说是`dlv debug`，写一下自己平时遇到的一些细节吧：

_1. 传入参数_
- 使用`--`，后面接需要传给程序的参数；例如，服务启动时需要指定配置文件，形如：`server -conf foo.yaml`，就可以这样弄：
`dlv debug -- -conf ./foo.yaml`
[详见文档描述](https://github.com/go-delve/delve/blob/master/Documentation/usage/dlv.md#synopsis)

_2. 设置断点_
- `b ./main.go:15`，在**当前目录的**main.go文件15行设置断点。我遇到的问题是：`Command failed: could not find statement at`，

[2022-03-08 13:39] marekmartins commented on #216
Yeah problem is still there, seems to be related that with `delve` there are running multiple processes and killing fails.  Latest working version was `v1.27.4`. So there somehow previous processes were killed before newone launched.

[2022-03-08 22:11] JVmano commented on #135
It's

Nice! Inserting this alias in bashrc or zshrc makes any terminal session definitive for those who don't already know

[2022-03-09 12:44] #175 closed

[2022-03-09 12:47] xiantang commented on #157
use https://github.com/cosmtrek/air#prefer-installsh to install

[2022-03-09 12:47] #157 closed

[2022-03-12 07:03] #125 closed

[2022-03-17 16:02] #59 closed

[2022-03-18 07:06] xiantang opened #261 "feature request: Print a log when go process ended."
IN this case, our application will log to file not stdout. it will cause I cannot know whether my application is alive.

[2022-03-21 11:00] definev opened #262 "/bin/sh: No such file or directory"
I installs air with `go install` command.
I'm already add `export PATH=$PATH:$(go env GOPATH)/bin` in my `.zshrc` file.
My device is M1 chip.

<img width="860" alt="Screen Shot 2022-03-21 at 17 59 54" src="https://user-images.githubusercontent.com/62325868/159248131-9e1bb537-14ef-4362-a48f-435d3c1e0393.png">

[2022-03-25 01:17] EddyLee1010 commented on #191
这个文件在哪里找到呢？

[2022-03-25 20:53] gurleensethi-docker opened #263 "Release runtime arguments functionality."
Hi 👋

We have noticed a recent [commit on master](https://github.com/cosmtrek/air/commit/705822078ed1a98bf367ec28eafb3cae46a9c001) has introduced the functionality of runtime arguments, but there is no release tag for it.

Can we please release a new version with the functionality. 😄

Thank You!

[2022-03-28 13:11] ostap1010 commented on #143
Hello! Can anyone please help. I am using cosmtrek/air docker image with Apple M1 and it always runs in "amd64" emulation. Is there a possibility to run it without emulation? (Seems like some functions are not working)

[2022-03-31 13:48] imokech opened #266 "Air.exe not found"
this link returned error not found.
i couldn't download and use it in windows.
please check.

https://raw.githubusercontent.com/cosmtrek/air/master/bin/windows/air.exe

[2022-04-04 22:28] rochinworks commented on #197
I have a similar problem and tried `"*", "."` but neither worked for root files.

[2022-04-05 10:16] ThomasJanUta commented on #201
I just started using air. Installing, configuring, running air is great except that you get blasted with noise:
[code]
This is all useless including the duplicated paths. I know that I am using AIR, I know how the project looks like.

Adding some kind of silent mode in the configuration would work wonders:
[code]
@xiantang @cosmtrek Could you comment where in the code you would inject an "escape"

[2022-04-05 12:00] silverwind commented on #201
Maybe log levels could be introduced. I'd classicy the above "watching" stuff as "debug", for example.

[2022-04-13 17:32] msfidelis opened #267 "undefined: os.ReadFile on go get -u"
I'm trying to install air using go get but I'm getting this error on version `v1.29`

[code]

[2022-04-17 13:01] lexuzieel opened #269 "Append .exe to executable path when ran on Windows"
Currently the generated `toml` file using `air init` is only fit for either Linux or Windows, but not both (see https://github.com/cosmtrek/air/discussions/231)

I think a somewhat easy fix to this would be to always define binary path without `.exe` and append it when `GOOS` is Windows similar to how it's already being done during toml file generation:

https://github.com/cosmtrek/air/blob/master

[2022-04-17 14:56] xiantang commented on #267
plz upgrade your go version higher than v1.17

[2022-04-17 14:56] #267 closed

[2022-04-17 15:03] xiantang commented on #269
So u mean when we use `air init` to generate config the defined binary path is without .exe. And when we try to rebuild it will append `.exe` when  GOOS is Windows.
But it will have a problem, when user use customize config, like `Cmd:          "go build -o ./tmp/abc ."`   `Bin:          "./tmp/abc". How do we to know where is the binary name and how to append `.exe` to it?

[2022-04-20 17:06] borosr opened #270 "Docker ARM support"
I would add the arm support to the docker image building flow. I tried it locally and air has much better performance, because container doesn't have to run in emulated environment.

[2022-04-23 01:40] callum-thomas commented on #241
Is there any update on this issue? I am having the same problem when trying to run in Docker.

[2022-04-27 07:14] khanakia opened #272 "Fails to see changes in file share mode ubuntu > ubuntu"
Hi,

I have a project folder that is shared to another ubuntu and `air` is unable to detect file changes.

Some Reference: https://github.com/remy/nodemon/issues/74

Note: I tried building with nodemon and it works `nodemon -L`

Can `air` has the same functionality ?

[2022-04-27 12:22] raimondsvizulis commented on #263
Seems like this was in plan for v2 as per roadmap, but would be highly appreciated if it's released any time soon.

Thanks!

[2022-05-02 17:27] idoshabi commented on #241
Is there any update on this issue?

[2022-05-08 09:53] kockok opened #274 "air started but NOT reloading"
<img width="850" alt="Screenshot 2022-05-08 at 5 44 13 PM" src="https://user-images.githubusercontent.com/232541/167290762-f3a5186d-685f-433c-a7c5-27760c205784.png">

It seems to be working, but there's no rebuilding after I change the code.

Dockerfile:
[code]

docker-copose.yml
[code]

I'm using M1 macbook, just wondering if it's an ARM/AMD thing.

[2022-05-09 10:09] mophia opened #275 "Contribute a Chinese version of documentation"
Hello, I'm quite interested in air and I want to submit Chinese version of translation of readme. What can I do ? Can I give a PR on that?

[2022-05-11 00:15] yarabarla opened #276 "Update and release Go 1.18"
Hello 😄 !

We have upgraded to the latest version of go (1.18) for generics, etc. and started having problems with air since it's still built using 1.17. The Dockerfile has already been updated to 1.18, but there are still other places like the go.mod that need to be updated, similar to what was [done for 1.17](https://github.com/cosmtrek/air/pull/235/files).

It would be be very helpful if we cou

[2022-05-11 17:19] Ghibranalj opened #277 "Feature Request: config that runs a command (instead of a binary) after building is done."
I wanted to make air toml that runs `make run` after `make all` with air and makefile.

my air.toml look something like this
[code]

I tried changin the bin to `/usr/bin/make` and the args to be `run`. but air seems to be unable to run that command.

It would be nice to have a config that executes a command after the build is done.
call it something `cmd-after` that replaces running the `bin` file

[2022-05-12 21:43] Evertonesc commented on #58
I think this issue could be closed, the answer provided by @slaveofcode solves the problem.

[2022-05-15 23:33] badcc commented on #274
I am also experiencing this... on Intel.. I wonder if related to a new version of Docker or something? Maybe fsnotify somehow not working with mounted volumes? Will continue looking but thought I'd post here to show support..

[2022-05-16 04:23] kockok commented on #274
Good for you, if it's not an ARM thing, then I'll wait for Air to get updated :)

[2022-05-19 12:04] marksartdev opened #278 "Can't stop Air with Ctrl-C"
When I use Air with graceful shutdown in my app, Air can't exit, it waits something for a long time. But my application has completed.

Os: MacOS

Config:

[code]

[2022-05-20 08:48] AdamHitchen commented on #277
@Ghibranalj use `full_bin` instead of `bin` e.g. `full_bin = "make run"`

[2022-05-21 16:04] batara666 opened #279 "cross-platform config file"
default air.toml point to `./tmp/main` while It's need to be `.\\tmp\\main.exe` on windows

[2022-05-27 09:39] Youngbae-Jeon commented on #278
I have the same problem.

In addition, when kill_delay="0s", Ctrt+C terminates air and my application immediately (no executing jobs to exit gracefully)
And when kill_delay="1s", air never terminates even though my application exited normally

[2022-05-28 15:52] khanakia commented on #272
Any update ?

[2022-05-30 04:42] smartdevcode opened #281 "I can't run the cmd about in docker."
`RUN curl -sSfL https://raw.githubusercontent.com/cosmtrek/air/master/install.sh | sh -s -- -b $(go env GOPATH)/bin`
The errors are following contents.

#0 1.464 cosmtrek/air info checking GitHub for latest tag
#0 151.4 cosmtrek/air crit unable to find '' - use 'latest' or see https://github.com/cosmtrek/air/releases for details
------
failed to solve: executor failed running [/bin/sh -c curl -sSf

[2022-05-31 02:57] brendensoares commented on #263
why is this delayed for v2? Is it backwards compatible?

[2022-06-01 21:15] gcstang commented on #263
Would have been nice but I need this functionality to use the application.

[2022-06-02 07:51] alza-syauqi opened #283 "There is a BUG when /bin/sh: 1: get path directory"
air cannot detect where the compiling golang file when getting path directory contain space, instance file directory:
[code]
the bug is like this: `/bin/sh: 1: /media/New: not found`

[2022-06-03 07:18] xiantang commented on #283
plz use slash, to ensure the command is correct.

[2022-06-03 07:18] #283 closed

[2022-06-03 07:18] xiantang commented on #281
let me take a look

[2022-06-03 15:42] xiantang commented on #241
Fixed in v1.30.0

[2022-06-03 15:45] xiantang commented on #275
PR is welcome

[2022-06-03 15:46] xiantang commented on #275
GOGOGOGO @mophia

[2022-06-03 15:50] #277 closed

[2022-06-03 16:49] xiantang commented on #278
fixed

[2022-06-03 16:54] xiantang commented on #263
released

[2022-06-03 16:54] #263 closed

[2022-06-03 16:55] xiantang commented on #263
plz use v1.30.0

[2022-06-05 12:34] xiantang commented on #275
any update?

[2022-06-05 12:35] #270 closed

[2022-06-05 12:47] mophia commented on #275
I'm sorry about replying you late. I have started to translate the readme, and will submit the PR as soon as possible. Thank you.😀

[2022-06-05 12:50] xiantang commented on #275
no problem.

[2022-06-05 13:18] xiantang commented on #266
You can find windows binary here : https://github.com/cosmtrek/air/releases/tag/v1.30.0

[2022-06-05 13:18] #266 closed

[2022-06-05 13:20] xiantang commented on #262
could u provide your air config file?

[2022-06-05 13:24] xiantang commented on #234
https://github.com/cosmtrek/air/pull/166 u can use this feature

[2022-06-05 13:24] #234 closed

[2022-06-08 15:07] xiantang commented on #278
you mean the if you set the kill_delay the right behavior is:
set 30s as kill_delay, when your application exits in 5s air not need to wait then to create a new process, right?
so It's mean air need to check whether the process is live, wait within 30s, until the process stopped.

@marksartdev

[2022-06-08 15:34] marksartdev commented on #278
Yes. I mean, Air have to periodically (for instance every 1s) check the process is live or not. If process is live and 30s have passed, Air have to send SIGKILL. But if the process isn't live, air have to stop work and exit.

[2022-06-09 06:03] xiantang commented on #278
I think this is a good feature, let me add it

[2022-06-11 09:08] mateusz834 opened #294 "panic (close of closed channel) after Ctrl + C"
[code]
How to reproduce:
1) run air normally
2) edit *.go file to create build error
3) wait for error
4) fix build error (revert changes)
5) Ctrl + C

[2022-06-11 09:10] xiantang commented on #294
let me take a look thx

[2022-06-11 09:11] mateusz834 commented on #294
Channel is closed after build error here: https://github.com/cosmtrek/air/blob/4612c12f1ed7c899314b8430bc1d841ca2cb061a/runner/engine.go#L371
and after ctrl+c here: https://github.com/cosmtrek/air/blob/4612c12f1ed7c899314b8430bc1d841ca2cb061a/runner/engine.go#L445

[2022-06-11 11:34] mateusz834 commented on #294
It also happens after two failed builds

[2022-06-11 14:59] #294 closed

[2022-06-13 12:17] anderson-oki commented on #281
@smartdevcode @lalizita Are you try to install via `RUN go get github.com/cosmtrek/air`?

[2022-06-14 10:44] xiantang commented on #281
why u use install air in this way?

[2022-06-21 10:44] Falldot commented on #197
Hi, I have a similar problem

My project directory:
![image](https://user-images.githubusercontent.com/86632059/174779230-fa45dbdc-901a-45cc-ba51-242dc6b55dde.png)

my .air.toml:
[code]

When I save any file in the root, air rebuilds successfully, but ignores all subdirectories and files in them. Writing directories in the `include_dir` field does not solve this problem.
Use WSL2 Ubuntu 22.04.

[2022-06-28 09:35] yigeqiji opened #298 "where is the Environment Variables in docker-compose"

[2022-06-28 11:03] xiantang commented on #298
lack information

[2022-06-28 11:03] #298 closed

[2022-06-29 10:21] yigeqiji commented on #190
Is this problem solved?

[2022-06-29 16:24] insyri commented on #190
No, right now the solution is to move the project into the Linux filesystem in WSL.

See https://github.com/cosmtrek/air/issues/190#issuecomment-999254716

[2022-06-30 02:45] yigeqiji commented on #190
thanks

[2022-06-30 02:48] yigeqiji commented on #190
thanks，i will take a look，hope this problem can be solved as soon as possible

[2022-07-01 00:24] vkhobor commented on #190
Hi. I got the same issue, too.

Hugo has a fallback polling mechanism.
https://github.com/gohugoio/hugo/pull/8723
Could this be implemented here too ?

[2022-07-01 00:49] insyri commented on #190
Air uses [fsnotify](https://github.com/fsnotify/fsnotify), which is a go library for listening to file system events. fsnotify has not implemented a polling fallback feature. The issue (https://github.com/fsnotify/fsnotify/issues/9) has been in discussion since 2014; as of right now, I would recommend using an alternative like stated above until further notice.

[2022-07-02 16:05] jshnaidman opened #302 "Mistake in air_example.toml"
[code]

I think this regex expression should be "_test\\.go". The '.' character matches any character in regex.

[2022-07-02 16:14] jshnaidman commented on #302
I just made a pull request here:

https://github.com/cosmtrek/air/pull/303

[2022-07-02 16:15] #302 closed

[2022-07-04 02:27] mirefly opened #304 "Default ExcludeRegex should be empty"
https://github.com/cosmtrek/air/blob/b878e3ce6bf715a9570578f77831c088bdae4732/runner/config.go#L187

Current default value is `[]string{"_test.go"}`. It makes more sense to have empty value as default, and let the user to add `_test.go` in TOML file when needed. With current default value, it seems like that the user cannot add test files back into file watcher with `  exclude_regex = []` in TOML

[2022-07-07 15:01] fedevilensky opened #305 "Error under wsl when `'` is included in the name"
Pretty much as the title says. I was running under wsl, inside a directory containing a `'` in the name

When trying to launch the program, the path is not escaped correctly, and the `'` breaks the command

![image](https://user-images.githubusercontent.com/19208605/177806114-b5d5dd12-9f45-4e59-8d88-42e5e2aaa9ed.png)

I don't know if a fix is trully necesary. I just wanted this problem to be docum

[2022-07-08 19:57] silverwind opened #307 "`include_file` option for single files"
I like to exactly specify files and directories to be watched so `air` initializes quickly and does not iterate useless directories. This mostly fine using the `include_dir` option with a list of to-watch directories, but it's not possible watch files in the root directory without adding the root directory itself.

How about having a `include_file` option, where one can put single files to watch?

[2022-07-11 06:03] xiantang commented on #305
OK

[2022-07-11 06:06] xiantang commented on #305
I dont think it need to fix, just need  add `\` before `'`

[2022-07-11 06:10] xiantang commented on #305
updated in Readme

[2022-07-11 06:10] #305 closed

[2022-07-11 06:40] xiantang commented on #304
It's look like a bug, we user set exclude_regex = [], but air NOT add test files back into file watcher

[2022-07-11 10:43] #304 closed

[2022-07-14 15:14] balki opened #309 "Space not preserved in runtime arguments"
Example:

[code]

When run directly,

[code]

When air runs it, It only prints the first name

[code]

[code]

It is because the arguments are joined as string below instead which looses quoting information.
https://github.com/cosmtrek/air/blob/5ac18a4db4621fecc79d2afb5a4384c2586635de/runner/engine.go#L429

[2022-07-18 18:12] Merith-TK opened #310 "Builds with different package versions than defined in go-mod"
I was having an issue with plugin loading, so I tested by building my program by hand and then running it,

the issue was that AIR was compiling my program with an different version of `gorilla/mux` that what my plugin was compiled in

Both Program and Plugin utilized identical `go.mod` and `go.sum` files

this forced me to add this to my makefile and change air's `cmd` in the config to `make air-

[2022-07-18 23:36] balki commented on #309
One workaround is to escape the quotes. i.e. `args_bin = ["--name", "\"James Bond\""]`

[2022-07-19 12:15] Lilihx opened #311 "Air load on mac, cannot be accessed by others."
Air load a server on port, eg 8080. Cannot be accessed by others.
Instead, using " go run main.go" to start the server, it can be accessed.

I found that, it will **pop up a "net work confirm"** after "go run main.go"
While using air, it didnot happened.

My mac os is 12.4 version.

[2022-07-20 20:32] Breigner01 opened #312 "Question: Use environment variable in cmd"
Is there a way to do something like:
[code]
and use the environment variable GIT_REVISION instead of GIT_REVISION as a string?

[2022-07-21 13:53] h3n4l commented on #312
Hi @Breigner01 , there is an example to use the environment variable in [Bytebase](https://github.com/bytebase/bytebase):
[`-X 'github.com/bytebase/bytebase/bin/server/cmd.goversion=$(go version)'`](https://sourcegraph.com/github.com/bytebase/bytebase/-/blob/scripts/.air.toml?L10)

[2022-07-21 15:28] Breigner01 commented on #312
Ok so I'm actually trying to implement that, but I'm having the following error:
[code]
I didn't include the whole help printed bellow because that and I don't think that it's linked but I can provide anything you think might be related

[2022-07-22 03:54] h3n4l commented on #312
Could you paste the full output of it if there are no sensitive data?

[2022-07-22 07:04] h3n4l commented on #312
Could you paste the file content of `.air.toml`?

[2022-07-22 07:43] h3n4l commented on #312
Try use:
[code]
One more thing, can you use `go build -ldflags '-X github.com/CIDgravity/CIDgravity/backend/controller.version=$(git rev-parse HEAD --short)' -o ./cidgravity-backend` to build successfully on your local?

[2022-07-22 07:49] Breigner01 commented on #312
It does work running off of the Makefile we wrote but it doesn't when I directly run it in my shell, like wtf.
I'm running the latest version of go which is 1.18.4.
And obviously air fails with the same error as go build does in my shell

[2022-07-22 07:56] h3n4l commented on #312
Yeah, I found that air uses [`exec.Command("/bin/sh", args...)`](https://sourcegraph.com/github.com/cosmtrek/air/-/blob/runner/util_darwin.go?L29) to build go program.
So the final(maybe) target is to fix the build command so that you can build it successfully in your shell.

[2022-07-22 07:58] Breigner01 commented on #312
Okay well I'll have to find that.
I suspect go 1.18.4 causing this but I'm not sure, but since I update my system everyday and it kinda happened after an update it propably is the cause, so as my final goal is to mainly use air in a container (with volumes and stuff so that hot reload makes sense), I'll try using go 1.18.3

[2022-07-22 08:01] h3n4l commented on #312
Using air in a container is a good idea! 🤩
I am curious about why that command can run successfully with Makefile : \

[2022-07-22 08:02] Breigner01 commented on #312
I'm really curious too, there is a slight difference which is using an environment variable in the Makefile instead of the command but I don't see why it would be an issue

[2022-07-22 08:07] h3n4l commented on #312
I think so.
But follow the [**go document**](https://pkg.go.dev/cmd/go#hdr-Compile_packages_and_dependencies)

It seems to point out that we lose `packages` parameters.

[2022-07-23 03:28] h3n4l commented on #312
This issue can be closed because we had solved the problem mentioned in title "Use environment variable in cmd".
cc @xiantang

[2022-07-23 08:01] #312 closed

[2022-07-23 08:01] xiantang commented on #312
thx

[2022-07-25 08:01] Breigner01 commented on #312
Hey @h3n4l ,

After multiple tries, I realized that the issue is the command in `'-X github.com/CIDgravity/CIDgravity/backend/controller.version=$(git rev-parse HEAD --short)'` I don't know why but I managed to narrow it down and putting text instead of that works.
But still I'd like being able to use and environment variable instead because it would be much easier, so if you have any solution to

[2022-07-27 14:25] soypat opened #313 "Bug: Adding entries to `include_dir` excludes directories"
I'm working on https://github.com/soypat/upsya and am unable to use `air` due to this bug.

## Steps to reproduce
My `.air.toml` looks like (click Details)

<details>

[code]

</details>

air shows the following with the above config:
[code]
I change `include_dir` to be
[code]

## What I expected
The same message but with `watching testdata` instead of excluding.

## What I saw

Then air excludes

[2022-07-27 19:19] wburningham opened #314 "Support "replace" directive in go.mod with external replacement-path"
Go projects can leverage the "replace" directive in go.mod to swap an imported module for a local copy.

Example [from the gomod-ref docs](https://go.dev/doc/modules/gomod-ref#replace):

[code]

This pattern is often used when you need to make an update to othermodule so you modify a local copy on disk to test your changes first in your consuming project.

It would be an awesome developer experien

[2022-07-27 19:20] wburningham commented on #314
cc @justinrixx

[2022-08-01 08:30] arviansetya commented on #114
@cosmtrek i have this problem "failed to build, error: exit status 1"

[2022-08-01 14:06] ctiller15 commented on #274
Checking in - @kockok did you ever find a resolution for this? I'm running into the exact same problem setting up air to run w/ docker on my M1.

[2022-08-03 05:35] kockok commented on #274
Negative, I switched to `CompileDaemon` tentatively, but really want air instead...

[2022-08-04 15:33] ctiller15 commented on #274
Gotcha. Is there an existing issue that addresses this? If not shouldn't this one be reopened?

[2022-08-07 07:03] windowshopr commented on #274
I'm new to Go, but I'm having the same problem.

`Windows 10, Go 1.19, AMD`

My simple sample project structure and code looks like this:

![image](https://user-images.githubusercontent.com/40477419/183279230-b6333876-36e3-4f65-b35e-21f7185121db.png)

...which results in a simple page that looks like this:

![image](https://user-images.githubusercontent.com/40477419/183279243-2cb1d0ee-90bb-4d27-91

[2022-08-07 11:02] navazjm commented on #313
So I was looking into your issue. By default, Air will exclude any directory that is specified in the testdata_dir. So if you pass your testdata directory into the include_dir, it will still be excluded. A simple work around is to change your testdata_dir="test" and include_dir="testdata"

@xiantang Maybe we can add a check to see if any directories in the include_dir match the testdata_dir, we do

[2022-08-08 06:28] windowshopr commented on #274
One thing that might be worth mentioning here is that I’m running this inside a docker-compose. Maybe it doesn’t apply changes saved in a container, but only on local instances of the app?

[2022-08-08 16:05] badcc commented on #274
I'm fairly confident that the issue is due to `fsnotify` not picking up file system events between the Linux/Ubuntu Docker file system  (LFTS), and the Windows file system (NFTS) which is making the changes through the mounted volume (such as.. through VSCode/etc.). I believe the only good solution is for `air` to implement polling... so until then, as @kockok has done, I have switched to `Compile

[2022-08-11 18:25] cinaglia opened #320 "Runtime arguments are not preserved when using `full_bin`"
The ability to provide runtime args was implemented in https://github.com/cosmtrek/air/pull/166. It's pretty handy and works really well when using `bin` but it gets completely ignored if using `full_bin`.

The issue boils down to the fact that if `FullBin` is set, it skips updating `ArgsBin` with the runtime args. A solution would be to move [this](https://github.com/cosmtrek/air/blob/64187c44ad6

[2022-08-17 14:21] FCollaPi commented on #276
Is there anything that would break if it is mounted using go 1.18 or just updating the go.mod file will make it work?

[2022-08-20 01:53] cwinters8 commented on #141
Hey, I was thinking I would give implementing live browser reload a go (pun intended). I almost started creating my own tool for it but then realized implementing here might make more sense? Would y'all still be open to a PR for it? If so, would it be acceptable to utilize [gorilla/websocket](https://github.com/gorilla/websocket) as a dependency for the WS implementation? @xiantang @cosmtrek any i

[2022-08-23 15:50] HYliangkai opened #324 "配合gin框架如何做到log输出?"

[2022-08-26 21:35] skelouse commented on #314
One tip for this is if you place your modules in the same directory, and run air from the root of that directory it will watch everything above it.

Example, if you ran `air` from your home/ || ~/ directory it would watch all files in your home directory.

[2022-08-26 21:42] skelouse commented on #314
https://github.com/cosmtrek/air/issues/60

[2022-08-26 22:16] skelouse opened #325 "Actual refresh time is slower then the air start time. Default build delay to 1ms"
VSCode, Ubuntu 20.04.4.

Running `air` in a director runs in about 0.5s, but when it's watching and running based on changes it takes maybe 2-3s.

Looked into it and the build delay was causing my issue.  Maybe it should default to 1ms rather than 1000.

[2022-08-26 22:20] skelouse commented on #325
Also noted by this is that the build delay is not implemented in the original run.

[2022-08-31 22:18] dusan91judo commented on #76
Hot reload not working with this command right now.
When I remove it, hot reload works perfect.
Does anyone have same issue ?

[2022-09-01 09:13] dusan91judo commented on #76
I found solution.
Do not use @latest tag for delve package. It can cause an issue. Use specific release version and it is working.
Ex Docker. `RUN go install github.com/cosmtrek/air@v1.40.4 && go install github.com/go-delve/delve/cmd/dlv@v1.9.1`
Instead `RUN go install github.com/cosmtrek/air@latest && go install github.com/go-delve/delve/cmd/dlv@latest`

[2022-09-03 08:41] Apostle-lemon commented on #128
The same occurs

[2022-09-05 12:08] khanakia commented on #272
@borosr Do you have any idea to make it work on shared network folder ?

[2022-09-12 02:37] s-jeon-mercury-inc commented on #114
@cosmtrek i have this problem "failed to build, error: exit status 1"
[code]

[2022-09-13 03:55] lz-freedom opened #328 "failed to watching, error: bad file descriptor"
<img width="754" alt="iShot_2022-09-13_11 54 48" src="https://user-images.githubusercontent.com/32818030/189804002-2ce9d696-d41a-4e6d-bd3a-c1ff4c37e7a1.png">
<img width="932" alt="iShot_2022-09-13_11 54 19" src="https://user-images.githubusercontent.com/32818030/189804010-43c9bed2-700e-4392-9c31-ad362c3f98ae.png">

[2022-09-13 18:16] mrg0lden opened #329 "Windows: failed to build: The system cannot find the path specified"
Hello,

I have tried air before on Linux and it was great, but now when I tried to use it on Windows I faced this issue.

I googled for almost an hour but nothing seems to help.

I tried the following, combined and isolatd:
* Start with the default clean config `air init`
* Change the output directory
* Change how the path is written `\` and `/`, with a `.` and without
* Make a very minimal projec

[2022-09-13 20:54] mrg0lden commented on #329
I believe the problem is in my system. I tried air on my laptop and it worked flawlessly.

[2022-09-13 20:54] #329 closed

[2022-09-14 08:39] chjiyun commented on #279
CMD `go build -o ./tmp/main .`  is unavailable on windows

[2022-09-14 12:49] mrg0lden commented on #329
For anyone who may have the same problem, [this StackOverflow most-liked answer](https://stackoverflow.com/a/60122860/4239865) solved my issue.

The issue was caused by Conda implanting a stupid bat file to be run before any command.

Steps:
1. Open Registery Editor (Windows+R then regedit.exe)
1. Go to Computer\HKEY_LOCAL_MACHINE\Software\Microsoft\Command Processor
1. If you find a key with the

[2022-09-16 10:37] daifangyun commented on #328
ulimit -n 2048

[2022-09-17 21:40] borosr commented on #272
Hey, I tried to simulate the shared folder watching with docker and volumes, I don't know if this is your scenario, but here is my configs and the result I found.

You can try it by copy and paste my config into your local directory. You need four files:
- docker-compose.yaml - for the test infrastructure
- change.sh - to simulate the change in the shared directory
- main.go - to have something wh

[2022-09-19 09:21] khanakia commented on #272
It's still not working i have enabled the symlinks but i am not using symlinks Here's is my setup.

I have two servers the first server contains the source code and the second server I attached the source code using network sharing.

1. log in to first server and run the `air`
2. log in to the second server and open the shared source code folder and make some changes.

so air does not detect the c

[2022-09-19 19:18] borosr commented on #272
The extensions of the files you are sharing and trying to edit are present in the include_ext array? If it's not a secret, are you using samba for the file share or some other tool for sharing?

[2022-09-20 03:48] khanakia commented on #272
I am using  NFS Share to mount the drive on the second server and i am editing code from the second server.

The first server has `air` running

[2022-09-21 10:29] iamhabbeboy commented on #262
@xiantang
Here's mine, the server is in the server/ directory

[code]

[2022-09-29 06:50] junevm opened #332 "Windows Installation Support throgh scoop"
It would be super easy to install and update air using http://scoop.sh/

[2022-10-05 18:50] ShayperCool commented on #274
Just noticed my Docker Desktop in Linux use virtiofs in container, so I tried disable it thourgh "~/.docker/desktop/settings.json" setting "useVirtualizationFrameworkVirtioFS": true -> "useVirtualizationFrameworkVirtioFS": false. After that Docker Desktop stop running. And I just installed usual docker :), and now hot reload is working.
So, maybe in Windows or Mac you can change this parameter and

[2022-10-10 07:03] hgoona opened #334 "Gin Golang server seems to hang after 3 or 4 requests while using Air"
I'm new to dev so Im hoping this isn't a installation problem but I'm noticing that my Go server stops responding after 3 or sometimes 4 responses.

I'm on windows, latest version of Go.

I'm building an api on localhost and sending requests through Postman (and double checked the lack of response with Hoppscotch as well). In both situations I noticed the responses from my server stop after 3 or 4

[2022-10-11 08:35] xiantang commented on #275
pr is welcome

Vooce ***@***.***>于2022年5月9日 周一18:09写道：

[2022-10-12 07:18] ViceEye opened #335 "Start Air with select config"
**Context:**

I am making a VSCode Docker development env, which allows you to work on your project within the Docker Container completely.
No need to install Go or etc programming env on your local machine.

Anyway, the Dockerfile has to have something for `CMD [ "something" ]` so it can be run under docker-compose, and if I configured the `.air.toml ` for being able to run my project easily with

[2022-10-13 15:10] dyavuz commented on #312
I know this is a closed issue; but if anyone has the same problem, wrapping `-ldflags` value with escaped double quotes instead of single quotes should fix the issue.

[code]

[2022-10-14 05:23] ViceEye commented on #335
Feature exists
该功能已存在

[2022-10-14 05:23] #335 closed

[2022-10-17 16:45] silverwind commented on #307
https://github.com/cosmtrek/air/pull/337

[2022-10-20 04:49] Dr-Octavius opened #338 "Runtime arguments syntax for full_bin does not work on Windows (even on MINW64 Bash), but functions as is on MacOS"
The air.toml input was `full_bin = "DEV_MODE=ON ./tmp/main.exe"`, as detailed in #166, on MINGW64 Bash, Windows CMD and PowerShell Shell contexts.
This resulted in the following error message
![image](https://user-images.githubusercontent.com/65051094/196853020-d74f0361-e6b2-4360-94a0-fe9517eb85ec.png)
Note that the error message was a **windows error prompt** and not directly from the logging inf

[2022-10-20 07:15] yun36524 opened #339 "Does docker-compose support configuring multiple directories(working_dir)?"
![image](https://user-images.githubusercontent.com/104484993/196880584-75b1ea0b-b647-4bd2-b5e2-b8945befc805.png)
I need to start multiple services at the same time, listening to their respective directories,how should i configure.
Also maby a dummy question since I'm a noob. Docker compose how to auto configure go env when it starts running,like proxy.

[2022-10-21 01:39] s-jeon-mercury-inc commented on #114
`RUN go get github.com/cosmtrek/air@v1.27.8`

[2022-10-23 10:40] mwehbe opened #340 "Some files extensions do not reload"
First thanks a lot for this very good golang hot reload tool.

One issue i have:
My golang templates files have .gohtml extension, and they are not reloaded when modified although set in .air.toml

include_ext = ["go", "**gohtml**", "css", "env", "tpl", "tmpl", "html", "json"]

Best regards

[2022-10-23 16:05] dirsigler opened #341 "support for yaml configuration file?"
It sounds quite trivial, but I would be interested if there is support to also write the air configuration file in yaml.

If not, I would love to see support for a yaml configuration file.
All of my configuration files in a project are already either JSON or YAML files which means I also have the linting and extensions already in place for these. TOML is quite rare.

[2022-10-24 05:50] xiantang commented on #341
u can support YAML file, PR is welcome

[2022-10-24 05:52] #328 closed

[2022-10-24 06:05] #320 closed

[2022-10-24 06:08] xiantang commented on #307
looks good

[2022-10-24 06:12] #307 closed

[2022-10-24 06:13] xiantang commented on #340
reproducing

[2022-10-24 06:14] xiantang commented on #341
if u want, u can also support JSON. haha

[2022-10-24 06:19] xiantang commented on #340
<img width="580" alt="image" src="https://user-images.githubusercontent.com/34479567/197460234-f0469e49-92c2-462c-90aa-cb8859020e65.png">
<img width="755" alt="image" src="https://user-images.githubusercontent.com/34479567/197460246-15c54c5d-2435-478b-9e8b-24364c0d5fd3.png">

cannot repreduce, I will close this issue first, if u have reproduce step, u can reopen issue

[2022-10-24 06:19] #340 closed

[2022-10-24 06:21] xiantang commented on #341
I will close this Merge request, if PR  is ready, plz tag me

[2022-10-24 06:21] #341 closed

[2022-10-24 06:25] xiantang commented on #339
docker-compose does not support configuring multiple directories.
don't put multiple services in the same container, one service one container.

u can read this https://docs.docker.com/language/golang/develop/#configure-docker-compose

[2022-10-24 06:25] #339 closed

[2022-10-24 07:56] #325 closed

[2022-10-24 08:32] #275 closed

[2022-10-24 19:53] guettli opened #344 "GPL: Is it save to use `air` for closed source software?"
I heard that the GPL license is viral.

I have concerns now.

Do I need to make my source code available, if I use `air`?

[2022-10-25 12:34] xiantang commented on #344
no need, if edit code of air u need provide code

[2022-10-25 12:34] #344 closed

[2022-10-25 23:14] lalizita commented on #281
Sorry for the delay,  I loose notifications about it.
I'm using the docker image like this in my docker-compsoe.yml
[code]

But I think that it's a problem with M1, in my other computer it works well, but in M1 Macbook doesn't, maybe a problem with fsnotify

[2022-10-26 13:57] AbenezerKb commented on #262
I was facing the same problem, it worked when I removed the ```.``` from ```bin = "./tmp/main" ``` . so it should be like this ```bin = "/tmp/main" ```

[2022-10-28 23:11] smartdevcode commented on #281
Perfect.

[2022-10-28 23:11] #281 closed

[2022-10-29 19:35] whlvv opened #345 "gin.SetMode 卡死"
package main

import (
	"github.com/gin-gonic/gin"
)

func main() {
	gin.SetMode(gin.ReleaseMode)
	r := gin.Default()

	r.GET("/ping", func(c *gin.Context) {
		c.JSON(200, gin.H{
			"message": "pong",
		})
	})
	r.Run() // 监听并在 0.0.0.0:8080 上启动服务
}

[2022-11-02 21:51] leandergangso opened #349 "failed to watch /app, error: permission denied"
![image](https://user-images.githubusercontent.com/60340480/199609314-26d62969-2f8b-4eb9-bea6-b436fe7a71a2.png)

I'm using the provided docker image with docker-compose and setting both working_dir and volume to /app.
If volume and working_dir is different then the error is gone, but then wont detect changes.

[2022-11-07 16:31] silverwind opened #350 "`include_file` should overrule `include_ext`"
On `master` branch:

[code]

This config will not trigger a reload when `openapi.yaml` changes because its extension is missing in `include_ext`. I would say that the check via `include_ext` should be skipped in case of explicit inclusion via `include_file`.

[2022-11-08 07:56] sazzer opened #351 "Manually trigger reload"
It would be very useful if there was some way to trigger a reload manually without needing to change one of the watched file. For example, in nodemon you can enter `rs<Enter>` into the terminal and it will trigger a reload, but as best I can tell there's no way to do this with Air.

It's not a huge problem - you can always just save an unchanged file, or stop and restart Air - but it would be conv

[2022-11-13 19:24] 0xquark commented on #14
Hi , I am working on a similar problem where i need to execute custom build commands for different files. Is this feature implemented yet ?
Also @frederikhors Can you tell me how you made your workaround for this problem ?

[2022-11-15 00:19] themiken opened #352 "Air not running with --tags dynamic (Apple M1)"
I'm trying to start a project with Kafka library that in my Apple M1 doesnt run correctly. In a confluent issue https://github.com/confluentinc/confluent-kafka-go/issues/591 suggests run _go build --tags dynamic_ but when i run this code with air _air  --build.cmd "go build --tags dynamic_  throws me following error

<img width="737" alt="Screen Shot 2022-11-14 at 7 16 59 PM" src="https://user-ima

[2022-11-15 12:24] tymonx opened #353 "Air should support executing binary again when executable exit"
Currently it doesn't execute binary again when exit. It does only when file changes. `Air` should exit with the same status code as exited binary **OR** rerun binary again with optional configurable delay. Both features should be configurable and may be disabled on default to keep backward compatibility.

**Use case:**
Microservices or long-running applications can be run as services under Docker

[2022-11-15 13:04] xiantang commented on #352
if u just use command line to run `go build --tags dynamic`, is this correct?

[2022-11-15 13:14] xiantang commented on #353
good feature.
So air needs to check whether the process is alive, if not alive air should restart the process.
I will do this.

[2022-11-15 13:52] themiken commented on #352
if i just run `go build --tags dynamic` and then run the binary works fine.

<img width="606" alt="Screen Shot 2022-11-15 at 8 46 25 AM" src="https://user-images.githubusercontent.com/8595578/201936138-4418b453-571a-4bf2-89aa-b7cfa0f501a0.png">
<img width="749" alt="Screen Shot 2022-11-15 at 8 46 49 AM" src="https://user-images.githubusercontent.com/8595578/201936155-19c99da8-1582-416f-9bc2-283eaf

[2022-11-15 17:04] perholmes opened #354 "Less verbose logging"
Hi,

Air has some extremely heavy logging on startup, and in a cluster with ten Go containers all starting up Air at the same time, we're talking 4-5 screens of boilerplate logging, making it very hard to catch actual problems during startup.

Is there a silent mode? Or a quieter mode? I don't mind Air saying it has started and when a file changes. But the remaining 100x logging is unnecessary and

[2022-11-15 17:16] perholmes commented on #16
Pity that nothing happened on this. Air has some of the loudest logging we've seen, enough that we're thinking we should go with another hot reloader, or fork Air to get the logging under control.

The problem is that if you run Air inside of a container as we do, we have Air starting up on 10 containers, resulting in about 500 lines of logging in the Docker output that is very close to spam. The

[2022-11-16 02:21] xiantang commented on #352
can u run this:
10:20 ➜  ~ /bin/sh
sh-3.2$ go version
and compare version with commandline

[2022-11-19 03:52] quocnguyen commented on #349
one or some folders in your /app generated by somethings else that air do not have permission to watch.

[2022-11-20 05:45] alltried opened #357 "cosmtrek/air crit platform linux/armv7 is not supported."
Can cosmtrek/air adding armv6/armv7 support?

[2022-11-21 09:09] silverwind commented on #354
https://github.com/cosmtrek/air/issues/201 is related.

[2022-11-21 17:25] jamesgoodhouse commented on #350
Is `include_file` working at all for you? i have the following and cannot get a reload to happen when i update my `go.mod` file. It's like `include_file` is being completely ignored for me.

[code]

[2022-11-21 19:33] silverwind commented on #350
Yes it's working for me, but the extension needs to be in `include_ext`, so in your case:

[code]

[2022-11-21 19:46] silverwind commented on #350
https://github.com/cosmtrek/air/pull/358 should fix this.

[2022-11-21 19:52] silverwind commented on #357
Try with `go install` which will compile:

[code]

[2022-11-21 20:23] jamesgoodhouse commented on #350
i personally viewed the two as mutually exclusive. i would want to be able to include a single file and not have to add it to the `include_ext` option since I may not want every file with a given extension to be watched.

i'm guessing that's what #358 is attempting to address?

[2022-11-21 20:24] silverwind commented on #350
Exactly, after #358, `include_file` will work, regardless whether the extension is in `include_ext` or not.

[2022-11-21 23:56] AdrianCarreno opened #359 "Air not detecting changes source files"
I am using Docker v4.13.1 on Windows 10, and I have a simple project, with the following structure:
[code]

And the contents of each file:
- `.air.toml`: as default
- `docker-compose.yml`:
[code]
- `Dockerfile`:
[code]
- `go.mod`:
[code]
- `main.go`:
[code]

When I do `docker-compose up` it builds and runs the app without a problem, but nothing happens upon changing something in `main.go`. If I ma

[2022-11-23 08:09] silverwind commented on #357
Try compile and run, this needs go 1.17+:

[code]

[2022-11-30 11:12] komlevv opened #360 "Hot reload does not work with Virtualbox shared folders"
FYI Fsnotify is unable to detect file changes in Virtualbox shared folders(which is my use case, but this probably affects a variety of fs setups) so hot reload would not work

See relevant discussion https://github.com/fsnotify/fsnotify/issues/152
Talks of adding a polling fallback https://github.com/fsnotify/fsnotify/issues/9
Webpack/Nodemon solved this by polling too, via an option ie `poll = 1